<section>
  <div
    class="relative flex flex-col justify-center max-h-full overflow-hidden h-screen lg:px-0 md:px-12">
    <div class="w-full max-w-md mx-auto md:max-w-sm md:w-96 p-8">
      <div class="flex flex-col text-center">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display">
            Reset your password
          </p>
          <p class="mt-4 text-zinc-500">
            Submit your email and we will send you reset instructions.
          </p>
        </div>
      </div>
      <form>
        <div class="space-y-3 mt-6">
          <div class="col-span-full">
            <label
              for="email"
              class="block mb-3 text-sm font-medium text-black sr-only"
              >Email</label
            >
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="off"
              placeholder="email@example.com"
              required
              class="block w-full px-4 py-2 h-10 border bg-chalk border-zinc-300 rounded-lg appearance-none text-accent-500 placeholder-zinc-300 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 duration-200 sm:text-sm"
            />
          </div>
          <div class="col-span-full">
            <button
              type="submit"
              class="rounded-lg px-4 py-2 text-sm font-semibold w-full transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
              >Sign in</button
            >
          </div>
        </div>
        <div class="mt-12">
          <p
            class="font-medium text-sm flex leading-tight text-black mx-auto text-center">
            <a
              class="text-accent-500 hover:text-black mx-auto"
              href="/forms/signup"
              title="link to your page"
              aria-label="your label"
              >&larr; &nbsp; Back to login</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
