<section>
  <div
    class="relative flex flex-col justify-center max-h-full overflow-hidden h-screen lg:px-0 md:px-12">
    
    <div class="w-full max-w-md mx-auto md:max-w-sm md:w-96 p-8">
      <div class="flex flex-col text-center">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display">
            Sign up
          </p>
          <div class="py-3 space-y-2">
            <button
              class="inline-flex items-center rounded-lg px-4 border py-2 text-sm font-semibold transition-all justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300 w-full"
              type="button"
              ><span>Signup with Twitter</span>
              <span class="mr-3 order-first">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  class="icon icon-tabler icon-tabler-brand-twitter"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="none"
                  fill="#1DA1F2"
                  stroke-linecap="round"
                  stroke-linejoin="round">
                  <path
                    stroke="none"
                    d="M0 0h24v24H0z"
                    fill="none"
                  ></path>
                  <path
                    d="M22 4.01c-1 .49 -1.98 .689 -3 .99c-1.121 -1.265 -2.783 -1.335 -4.38 -.737s-2.643 2.06 -2.62 3.737v1c-3.245 .083 -6.135 -1.395 -8 -4c0 0 -4.182 7.433 4 11c-1.872 1.247 -3.739 2.088 -6 2c3.308 1.803 6.913 2.423 10.034 1.517c3.58 -1.04 6.522 -3.723 7.651 -7.742a13.84 13.84 0 0 0 .497 -3.753c-.002 -.249 1.51 -2.772 1.818 -4.013z"
                  ></path>
                </svg>
              </span>
            </button>
            <button
              class="inline-flex items-center rounded-lg px-4 border py-2 text-sm font-semibold transition-all justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300 w-full"
              type="button"
              ><span>Sign in with Google</span>
              <span class="mr-3 order-first"
                ><svg
                  fill="none"
                  height="24"
                  viewBox="0 0 32 32"
                  width="24"
                  xmlns="http://www.w3.org/2000/svg"
                  ><path
                    d="M30.0014 16.3109C30.0014 15.1598 29.9061 14.3198 29.6998 13.4487H16.2871V18.6442H24.1601C24.0014 19.9354 23.1442 21.8798 21.2394 23.1864L21.2127 23.3604L25.4536 26.58L25.7474 26.6087C28.4458 24.1665 30.0014 20.5731 30.0014 16.3109Z"
                    fill="#4285F4"
                  ></path><path
                    d="M16.2862 30C20.1433 30 23.3814 28.7555 25.7465 26.6089L21.2386 23.1865C20.0322 24.011 18.4132 24.5866 16.2862 24.5866C12.5085 24.5866 9.30219 22.1444 8.15923 18.7688L7.9917 18.7827L3.58202 22.1272L3.52435 22.2843C5.87353 26.8577 10.6989 30 16.2862 30Z"
                    fill="#34A853"
                  ></path><path
                    d="M8.16007 18.7688C7.85848 17.8977 7.68395 16.9643 7.68395 15.9999C7.68395 15.0354 7.85849 14.1021 8.1442 13.231L8.13621 13.0455L3.67126 9.64734L3.52518 9.71544C2.55696 11.6132 2.0014 13.7444 2.0014 15.9999C2.0014 18.2555 2.55696 20.3865 3.52518 22.2843L8.16007 18.7688Z"
                    fill="#FBBC05"
                  ></path><path
                    d="M16.2863 7.4133C18.9688 7.4133 20.7783 8.54885 21.8101 9.4978L25.8418 5.64C23.3657 3.38445 20.1434 2 16.2863 2C10.699 2 5.87354 5.1422 3.52435 9.71549L8.14339 13.2311C9.30223 9.85555 12.5086 7.4133 16.2863 7.4133Z"
                    fill="#EB4335"
                  ></path>
                </svg>
              </span>
            </button>
            <div class="py-3 relative">
              <div
                class="flex items-center absolute inset-0"
                aria-hidden="true">
                <div class="w-full border-t border-zinc-300"></div>
              </div><div class="flex relative justify-center">
                <span class="text-sm bg-white px-2 text-black"
                  >Or continue with</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <form>
        <div class="space-y-3">
          <div class="w-full flex flex-row gap-3">
            <div class="w-full">
              <label
                for="first_name"
                class="block mb-3 text-sm font-medium text-black sr-only"
                >First name</label
              >
              <input
                id="first_name"
                name="first_name"
                type="text"
                autocomplete="given-name"
                required
                placeholder="Your name..."
                class="block w-full px-4 py-2 h-10 border bg-chalk border-zinc-300 rounded-lg appearance-none text-accent-500 placeholder-zinc-300 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 duration-200 sm:text-sm"
              />
            </div>
            <div class="w-full">
              <label
                for="last_name"
                class="block mb-3 text-sm font-medium text-black sr-only"
                >Last name</label
              >
              <input
                id="last_name"
                name="last_name"
                type="text"
                autocomplete="family-name"
                required
                placeholder="Last name..."
                class="block w-full px-4 py-2 h-10 border bg-chalk border-zinc-300 rounded-lg appearance-none text-accent-500 placeholder-zinc-300 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 duration-200 sm:text-sm"
              />
            </div>
          </div>
          <div class="col-span-full">
            <label
              for="email"
              class="block mb-3 text-sm font-medium text-black sr-only"
              >Email</label
            >
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="off"
              required
              placeholder="email@example.com"
              class="block w-full px-4 py-2 h-10 border bg-chalk border-zinc-300 rounded-lg appearance-none text-accent-500 placeholder-zinc-300 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 duration-200 sm:text-sm"
            />
          </div>
          <div class="col-span-full">
            <label
              for="password"
              class="block mb-3 text-sm font-medium text-black sr-only"
              >Password</label
            >
            <input
              id="password"
              name="password"
              type="password"
              required
              placeholder="Type password here..."
              class="block w-full px-4 py-2 h-10 border bg-chalk border-zinc-300 rounded-lg appearance-none text-accent-500 placeholder-zinc-300 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 duration-200 sm:text-sm"
            />
          </div>
          <div class="flex items-start py-6">
            <input
              id="remember-me"
              name="remember-me"
              type="checkbox"
              class="focus:ring-accent-500 border-accent-500 h-4 focus:border-accent-500 bg-white rounded w-4"
            />
            <label
              for="remember-me"
              class="text-sm block leading-tight ml-2 text-zinc-500">
              Creating an account means you’re okay with our
              <a
                class="text-black hover:text-accent-300"
                href="/terms"
                >Terms of Service,</a
              >
              <a
                class="text-black hover:text-accent-300"
                href="/privacy"
                >Privacy Policy,</a
              >
              and our default
              <a
                class="text-black hover:text-accent-300"
                href="/notifications"
                >Notification Settings.</a
              >
            </label>
          </div>
          <div class="col-span-full">
            <button
              type="submit"
              class="rounded-lg px-4 py-2 text-sm font-semibold w-full transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10">
              Sign in
            </button>
          </div>
        </div>
        <div class="mt-12">
          <p
            class="font-medium text-sm flex leading-tight text-black mx-auto text-center">
            Not a have a password?
            <a
              class="text-accent-500 hover:text-black ml-auto"
              href="/forms/signup"
              title="link to your page"
              aria-label="your label"
              >Sign up now</a
            >
          </p>
        </div>
      </form>
    </div>
  </div>
</section>
