---
import { getCollection } from "astro:content";
const allPosts = await getCollection("helpcenter");
import BaseLayout from "@/layouts/BaseLayout.astro";
import Entries from "@/components/helpcenter/Entries.astro";
---
<BaseLayout>
  <section class="relative overflow-hidden">
    <div
      class="px-8 pt-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-36 relative">
      <div>
        <h1
          class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
          Help center
        </h1>
        <p class="text-base lg:text-lg max-w-sm mt-4 text-zinc-500">
          Learn how to use and share our products, from settings to team
          management.
        </p>
        <div class="items-center flex-wrap mt-10 flex">
          <div>
            <label
              for="search"
              class="sr-only"
              >Quick search</label
            >
            <div class="relative flex items-center">
              <input
                type="text"
                name="search"
                id="search"
                class="lock w-full px-4 py-2 h-10 border bg-chalk border-zinc-300 rounded-lg appearance-none text-accent-500 placeholder-zinc-300 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 duration-200 sm:text-sm pr-14"
              />
              <div class="absolute inset-y-0 right-0 flex py-1.5 pr-1.5">
                <kbd
                  class="inline-flex items-center rounded border-gray-200 px-0.5 font-sans text-xs text-gray-400"
                  >⌘K</kbd
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <ul
        class="flex flex-col divide-y divide-zinc-300 mt-12 lg:mt-24"
        role="list">
        {
          allPosts.slice().map((post) => (
            <Entries
              url={"/helpcenter/" + post.slug}
              page={post.data.page}
              alt={post.data.page}
              icon={post.data.icon.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
