<section>
  <div class="flex flex-col  h-full ">
    <h1
      class="text-lg text-neutral-600 font-mono tracking-tight uppercase text-balance">
      Williamsburg, your next ecommerce theme for all your products.
    </h1>
    <p class="text-sm text-pretty text-neutral-500 mt-2">
      Your next minimalist ecommerce theme for all your digital products.
    </p>
  </div>
</section>
