<section>
  <div class="px-8 pb-12">
    <h1
      class="text-balance text-3xl capitalize md:text-5xl lg:text-4xl       text-black">
      Style guide
    </h1>
    <div class="mt-40 space-y-24">
      <div>
        <p class="text-3xl font-light text-black      ">
          Typograpy:  Inter
        </p>
        <div class="divide-y border-y mt-8">
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Display</p>
            <div class="lg:col-span-2">
              <p class="text-6xl 2xl:text-9xl      ">Display</p>
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Header 1</p>
            <div class="lg:col-span-2">
              <p
                class="text-balance text-3xl md:text-5xl       lg:text-4xl text-black">
                Header 1
              </p>
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Header 2</p>
            <div class="lg:col-span-2">
              <p
                class="text-balance text-2xl md:text-4xl       lg:text-3xl text-black">
                Header 2
              </p>
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Header 3</p>
            <div class="lg:col-span-2">
              <p
                class="text-balance text-xl md:text-3xl lg:text-2xl text-black">
                Header 3
              </p>
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Paragraph</p>
            <div class="lg:col-span-2">
              <p class="text-pretty text-gray-500 2xl:text-lg">
                Quartiere is Danmark’s global real estate marketplace for homes
                and real estates for sale in Danmark. Homes and real estates in
                Danmark in all price ranges and all real estates types are
                accepted to publish. We have found the perfect home for many of
                our clients. We are a happy and friendly team that will help you
                find your dream home or sell your property.
              </p>
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Link without icon</p>
            <div class="lg:col-span-2">
              <a
                title="Your title"
                aria-label="Your title"
                href="#_"
                class="text-black hover:text-gray-500 mt-auto"
                >See all properties for sale
              </a>
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Link with icon</p>
            <div class="lg:col-span-2">
              <a
                title="Your title"
                aria-label="Your title"
                href="#_"
                class="text-black hover:text-gray-500 mt-auto flex gap-3 items-center justify-between"
                >See all properties for sale
                <svg
                  width="71"
                  height="16"
                  viewBox="0 0 71 15"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M0.996338 6.5C0.444053 6.5 -0.00366211 6.94772 -0.00366211 7.5C-0.00366211 8.05228 0.444053 8.5 0.996338 8.5V6.5ZM69.7739 8.20711C70.1645 7.81658 70.1645 7.18342 69.7739 6.79289L63.41 0.428932C63.0194 0.0384079 62.3863 0.0384079 61.9958 0.428932C61.6052 0.819456 61.6052 1.45262 61.9958 1.84315L67.6526 7.5L61.9958 13.1569C61.6052 13.5474 61.6052 14.1805 61.9958 14.5711C62.3863 14.9616 63.0194 14.9616 63.41 14.5711L69.7739 8.20711ZM0.996338 8.5H69.0668V6.5H0.996338V8.5Z"
                    fill="currentColor"
                  ></path>
                </svg></a
              >
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">List</p>
            <div class="lg:col-span-2">
              <ul
                class="list-none text-gray-500 space-y-1 aos-init aos-animate">
                <li>English</li>
                <li>Spanish</li>
                <li>Italian</li>
                <li>Swedish</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="text-3xl font-light text-black      ">Color palette</p>
        <div class="divide-y border-y mt-8">
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Full color palette</p>
            <div class="lg:col-span-2 grid grid-cols-2 gap-8">
              <div class="flex flex-col">
                <div class="lg:justify-center p-6 bg-white border"></div>
                <div class="lg:justify-center p-6 bg-black"></div>
              </div>
              <div>
                <div class="lg:justify-center p-6 bg-gray-50"></div>
                <div class="lg:justify-center p-6 bg-gray-100"></div>
                <div class="lg:justify-center p-6 bg-gray-200"></div>
                <div class="lg:justify-center p-6 bg-gray-300"></div>
                <div class="lg:justify-center p-6 bg-gray-400"></div>
                <div class="lg:justify-center p-6 bg-gray-500"></div>
                <div class="lg:justify-center p-6 bg-gray-600"></div>
                <div class="lg:justify-center p-6 bg-gray-700"></div>
                <div class="lg:justify-center p-6 bg-gray-800"></div>
                <div class="lg:justify-center p-6 bg-gray-900"></div>
                <div class="lg:justify-center p-6 bg-gray-950"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <p class="text-3xl font-light text-black      ">Buttons</p>
        <div class="divide-y border-y mt-8">
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Primary</p>
            <div class="lg:col-span-2">
              <button
                type="submit"
                class="relative group overflow-hidden px-12 h-16 border w-full text-white bg-black lg:w-auto">
                <div
                  aria-hidden="true"
                  class="transition duration-300 group-hover:-translate-y-16 w-full">
                  <div class="h-16 flex items-center justify-center">
                    <span>Sign in with Google</span>
                  </div>
                  <div class="h-16 flex items-center justify-center">
                    <span>Sign in with Google</span>
                  </div>
                </div>
              </button>
            </div>
          </div>
              <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Secondary</p>
            <div class="lg:col-span-2">
              <button
                type="submit"
                class="relative group overflow-hidden px-12 h-16  w-full text-black bg-gray-100 lg:w-auto">
                <div
                  aria-hidden="true"
                  class="transition duration-300 group-hover:-translate-y-16 w-full">
                  <div class="h-16 flex items-center justify-center">
                    <span>Sign in with Google</span>
                  </div>
                  <div class="h-16 flex items-center justify-center">
                    <span>Sign in with Google</span>
                  </div>
                </div>
              </button>
            </div>
          </div>
          <div class="lg:col-span-2 grid lg:grid-cols-3 gap-8 py-8">
            <p class="text-gray-500 text-xl">Outlined</p>
            <div class="lg:col-span-2">
              <button
                type="submit"
                class="relative group overflow-hidden px-12 h-16 border w-full text-black lg:w-auto">
                <div
                  aria-hidden="true"
                  class="transition duration-300 group-hover:-translate-y-16 w-full">
                  <div class="h-16 flex items-center justify-center">
                    <span>Sign in with Google</span>
                  </div>
                  <div class="h-16 flex items-center justify-center">
                    <span>Sign in with Google</span>
                  </div>
                </div>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
