<section>
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-36">
    <div>
      <p
        class="text-4xl tracking-tight font-medium text-black md:text-7xl font-display">
        Style guide
      </p>
    </div>
    <div class="w-full mt-12">
      <div class="border-b border-zinc-300 pb-5">
        <h3 class="text-base font-semibold leading-6 text-black">
          Typography: <span class="text-accent-500"
            >Familjen Grotesk &amp; Inter</span
          >
        </h3>
      </div>
      <div class="py-3 space-y-6">
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Display</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-4xl tracking-tight font-medium text-black md:text-7xl font-display"
              >Header 1
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Header 1</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display"
              >Header 1
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Header 2</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-3xl tracking-tight font-medium text-black md:text-4xl font-display"
              >Header 2
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Header 3</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-2xl tracking-tight font-medium text-black md:text-3xl font-display"
              >Header 3</span
            >
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Header 4</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="text-xl tracking-tight font-medium text-black md:text-2xl font-display"
              >Header 4</span
            >
          </div>
        </div>

        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Link</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-sm text-black hover:text-accent-500 underline"
              >Link text
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Subtitle</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span
              class="font-display text-xl leading-7 tracking-tight text-black"
              >Subtitle text
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Paragraph</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-base text-zinc-500 mt-4"
              >I am so happy, my dear friend, so absorbed in the exquisite sense
              of mere tranquil existence, that I neglect my talents.
            </span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Caption</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-xs text-zinc-500">Picture about somethign</span>
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div><span class="text-zinc-500">Code</span></div>
          <div class="col-span-2 lg:col-span-3">
            <span class="text-xs text-zinc-500 font-mono"
              >tailwind.config.js</span
            >
          </div>
        </div>
        <div class="grid grid-cols-3 lg:grid-cols-4 items-end">
          <div>
            <span class="text-zinc-500">List</span>
          </div>
          <div class="col-span-2 lg:col-span-3">
            <ul
              class="list-decimal text-sm list-inside prose space-y-3 mt-6 text-zinc-500"
              role="list">
              <li>Next.js and/or Nuxt.js</li>
              <li>CReact Native .</li>
              <li>AWS and/or Firebase</li>
              <li>Familiarity with noSQL databases</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="border-b border-zinc-300 pb-5 mt-12 lg:mt-24">
        <h3 class="text-base font-semibold leading-6 text-black">
          Color: <span class="text-accent-500">Custom color palette</span>
        </h3>
      </div>
      <div class="grid gap-2 grid-cols-2 lg:grid-cols-3 mt-12">
        <div class="space-y-2">
          <div class="lg:justify-center p-6 bg-white border rounded-lg"></div>
        </div><div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-accent-50">
          </div><div class="lg:justify-center p-6 bg-accent-100"></div><div
            class="lg:justify-center p-6 bg-accent-200">
          </div><div class="lg:justify-center p-6 bg-accent-300"></div><div
            class="lg:justify-center p-6 bg-accent-400">
          </div><div class="lg:justify-center p-6 bg-accent-500"></div><div
            class="lg:justify-center p-6 bg-accent-600">
          </div><div class="lg:justify-center p-6 bg-accent-700"></div><div
            class="lg:justify-center p-6 bg-accent-800">
          </div><div class="lg:justify-center p-6 bg-accent-900"></div><div
            class="lg:justify-center p-6 rounded-b-lg bg-accent-950">
          </div>
        </div><div>
          <div class="lg:justify-center p-6 rounded-t-lg bg-gray-50"></div><div
            class="lg:justify-center p-6 bg-gray-100">
          </div><div class="lg:justify-center p-6 bg-gray-200"></div><div
            class="lg:justify-center p-6 bg-gray-300">
          </div><div class="lg:justify-center p-6 bg-gray-400"></div><div
            class="lg:justify-center p-6 bg-gray-500">
          </div><div class="lg:justify-center p-6 bg-gray-600"></div><div
            class="lg:justify-center p-6 bg-gray-700">
          </div><div class="lg:justify-center p-6 bg-gray-800"></div><div
            class="lg:justify-center p-6 bg-gray-900">
          </div><div class="lg:justify-center p-6 rounded-b-lg bg-gray-950">
          </div>
        </div>
      </div>
      <div class="border-b border-zinc-300 pb-5 mt-12 lg:mt-24">
        <h3 class="text-base font-semibold leading-6 text-black">
          Buttons: 
        </h3>
      </div>
      <div class="w-full items-center flex-wrap mt-10 gap-2 inline-flex">
        <a
          href="#"
          class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-black text-white hover:bg-zinc-700 h-10"
          >Primary button</a
        >

        <a
          href="#"
          class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
          >Secondary button</a
        >
        <a
          href="#"
          class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
          >Tertiary button</a
        >
        <div
          class="bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 p-4 rounded-md">
          <a
            href="#"
            class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/20"
            >Transparent button</a
          >
        </div>
      </div>
    </div>
  </div>
</section>
