---
import { getCollection } from "astro:content";
const allPosts = await getCollection("team");
import BaseLayout from "@/layouts/BaseLayout.astro";
import TeamEntries from "@/components/team/TeamEntries.astro";
---
<BaseLayout>
  <section>
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
      <div class="sm:text-center">
        <p class="text-3xl font-normal text-black font-display text-balance">
      Meet the pioneers behind our success
        </p>
        <p class="text-base mt-4 text-zinc-500 max-w-2xl sm:mx-auto">
          Meet the passionate individuals driving our platform's success
        </p>
      </div>
      <ul
        class="grid grid-cols-1 md:grid-cols-2 text-center gap-4 mt-12 list-none lg:grid-cols-3 lg:mt-24"
        role="list">
        {
          allPosts.map((post) => (
            <TeamEntries
              url={"/team/" + post.slug}
              name={post.data.name}
              role={post.data.role}
              avatar={post.data.avatar.url}
            />
          ))
        }
      </ul>
    </div>
  </section>
</BaseLayout>
