<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <p class="text-3xl font-normal text-black font-display text-blance w-1/2">
      Discover the experiences and feedback from satisfied customers
    </p>

    <ul
      class="mt-12 lg:mt-24 grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-4">
      <li>
        <div
          class="rounded-2xl bg-chalk divide-y border p-8 h-full flex flex-col justify-between">
          <div>
            <img
              class="h-8 mt-4"
              src="/assets/brands/Attentive.svg"
              alt=""
            />
            <p class="text-zinc-500 mt-4 font-semibold text-sm">
              Ever since I made the switch to Attentive, my productivity levels
              have skyrocketed.
              <span class="text-accent-500">
                It's remarkable how a simple move to this platform has
                transformed my work
              </span> efficiency and overall output compared to the past few months.
            </p>
          </div>
          <footer class="mt-8 pt-8">
            <p class="text-zinc-500 text-xs">
              I feel <span class="text-black"
                >more empowered and in control</span
              > of my personal data.
            </p>
            <div class="mt-4">
              <a
                href="#"
                class="group block flex-shrink-0">
                <div class="flex items-center">
                  <div>
                    <img
                      class="inline-block h-9 w-9 rounded-full"
                      src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1480&q=80"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p
                      class="text-sm font-medium text-zinc-700 group-hover:text-zinc-900">
                      Michael A
                    </p>
                    <p
                      class="text-xs font-medium text-zinc-500 group-hover:text-zinc-700">
                      CEO AT Attentive
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </footer>
        </div>
      </li>
      <li class="lg:col-span-3">
        <div
          class="rounded-2xl bg-chalk divide-y border p-8 h-full flex flex-col justify-between">
          <div>
            <img
              class="h-8 lg:h-12 mt-4"
              src="/assets/brands/Figma.svg"
              alt=""
            />
            <p class="text-zinc-500 lg:text-4xl mt-4 font-semibold text-sm">
              As a professional working with sensitive information,
              <span class="text-accent-500">
                I needed a communication solution
              </span> that prioritizes security
            </p>
          </div>
          <footer class="mt-8 pt-8 lg:inline-flex lg:gap-4 lg:items-center">
            <p class="text-zinc-500 text-xs lg:text-xl lg:ml-auto">
              Right now <span class="text-black">I can put all my trust</span> in
              one only company.
            </p>
            <div class="mt-4 lg:mt-0 lg:order-first">
              <a
                href="#"
                class="group block flex-shrink-0">
                <div class="flex items-center">
                  <div>
                    <img
                      class="inline-block h-9 w-9 rounded-full"
                      src="https://images.unsplash.com/photo-1639149888905-fb39731f2e6c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1064&q=80"
                      alt=""
                    />
                  </div>
                  <div class="ml-3">
                    <p
                      class="text-sm font-medium text-zinc-700 group-hover:text-zinc-900">
                      Jhon D
                    </p>
                    <p
                      class="text-xs font-medium text-zinc-500 group-hover:text-zinc-700">
                      Senio software engineer at Figma
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </footer>
        </div>
      </li>
    </ul>
  </div>
</section>
