<section>
  <div
    class="relative flex w-full bg-gray-100 items-center flex-row pb-4 mx-auto text-xs text-neutral-600 font-mono tracking-tight uppercase">
    <a
      href="/"
      title="link to your page"
      aria-label="your label"
      class="hover:text-orange-600">
      Williamsburg</a
    >
    <nav class="items-center flex-grow flex justify-end flex-row ml-auto gap-4">
      <a
        href="/system/overview"
        title="link to your page"
        aria-label="your label"
        class="hover:text-orange-600 lg:ml-auto">
        Overview
      </a>
      <a
        href="/system/styleguide"
        title="link to your page"
        aria-label="your label"
        class="hover:text-orange-600">
        Style Guide
      </a>
      <a
        title="link to your page"
        aria-label="your label"
        href="https://buy.polar.sh/polar_cl_G3dPiOeSCdgSO2WhC2NEgamF4ziyRZs5BrQ9v2iIiNc"
        class="hover:text-orange-600">
        Buy Williamsburg
      </a>
    </nav>
  </div>
</section>
