<div x-data="{ expanded: false }">
  <div
    class="relative"
    :class="expanded ? 'before:-inset-2 before:top-0' : 'before:inset-0'">
    <div class="relative">
      <div class="flex items-center justify-between w-full bg-gray-100 px-4">
        <div class="flex gap-3 divide-x divide-gray-300">
          <p class="text-sm text-black">Filters</p>
          <button
            type="button"
            class="text-gray-500 pl-3 text-sm"
            @click="clearAllFilters"
            >Clear all</button
          >
        </div>
        <div>
          <button
            id="menubutton"
            type="button"
            class="grow flex items-center h-14 focus-visible:outline-none group"
            @click="expanded = !expanded"
            :aria-expanded="expanded"
            aria-controls="menu">
            <div
              class="p-1.5 group-focus-visible:ring group-focus-visible:ring-indigo-300">
              <svg
                class="fill-gray-400 shrink-0 transition size-5 duration-300 ease-in-out"
                :class="{'rotate-[90deg] ': expanded}"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="none"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"
                stroke-linejoin="round"
                class="icon icon-tabler icons-tabler-outline icon-tabler-plus">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path d="M12 5l0 14"></path><path
                  :class="{'opacity-0': expanded}"
                  d="M5 12l14 0"
                ></path></svg
              >
            </div>
          </button>
        </div>
      </div>
      <nav
        id="menu"
        role="navigation"
        aria-labelledby="menubutton"
        class="grid text-sm text-gray-600 overflow-hidden transition-all duration-500 ease-[cubic-bezier(.5,.85,.25,1.8)] [&[x-cloak]]:hidden py-8"
        :class="expanded ? 'grid-rows-[1fr] opacity-100 block border-b' : 'grid-rows-[0fr] opacity-0 hidden'"
        x-cloak>
        <div class="overflow-hidden">
          <div class="grid grid-cols-2 gap-8 md:grid-cols-4 justify-between">
            <!-- Location Filter -->
            <div>
              <fieldset>
                <legend class="block text-base font-medium text-black"
                  >Location</legend
                >
                <div class="mt-2">
                  <div>
                    <input
                      type="checkbox"
                      id="location-city-center"
                      name="location"
                      value="city-center"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="location-city-center"
                      class="ml-2 text-sm text-gray-500"
                      >City Center</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="location-urban-area"
                      name="location"
                      value="urban-area"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="location-urban-area"
                      class="ml-2 text-sm text-gray-500"
                      >Urban Area</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="location-suburb"
                      name="location"
                      value="suburb"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="location-suburb"
                      class="ml-2 text-sm text-gray-500"
                      >Suburb</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="location-near-public-transportation"
                      name="location"
                      value="near-public-transportation"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="location-near-public-transportation"
                      class="ml-2 text-sm text-gray-500"
                      >Near Public Transportation</label
                    >
                  </div>
                  <!-- Add more location checkboxes here -->
                </div>
              </fieldset>
            </div>

            <!-- Property Type Filter -->
            <div>
              <fieldset>
                <legend class="block text-base font-medium text-black"
                  >Property Type</legend
                >
                <div class="mt-2">
                  <div>
                    <input
                      type="checkbox"
                      id="property-type-apartment"
                      name="property-type"
                      value="apartment"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="property-type-apartment"
                      class="ml-2 text-sm text-gray-500"
                      >Apartment</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="property-type-house"
                      name="property-type"
                      value="house"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="property-type-house"
                      class="ml-2 text-sm text-gray-500"
                      >House</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="property-type-duplex"
                      name="property-type"
                      value="duplex"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="property-type-duplex"
                      class="ml-2 text-sm text-gray-500"
                      >Duplex</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="property-type-loft"
                      name="property-type"
                      value="loft"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="property-type-loft"
                      class="ml-2 text-sm text-gray-500"
                      >Loft</label
                    >
                  </div>
                  <!-- Add more property type checkboxes here -->
                </div>
              </fieldset>
            </div>

            <!-- Price Range Filter -->
            <div>
              <fieldset>
                <legend class="block text-base font-medium text-black"
                  >Price Range</legend
                >
                <div class="mt-2">
                  <div>
                    <input
                      type="checkbox"
                      id="price-under-500"
                      name="price-range"
                      value="under-500"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="price-under-500"
                      class="ml-2 text-sm text-gray-500"
                      >Under $500</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="price-500-1000"
                      name="price-range"
                      value="500-1000"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="price-500-1000"
                      class="ml-2 text-sm text-gray-500"
                      >$500 - $1000</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="price-1000-1500"
                      name="price-range"
                      value="1000-1500"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="price-1000-1500"
                      class="ml-2 text-sm text-gray-500"
                      >$1000 - $1500</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="price-1500-2000"
                      name="price-range"
                      value="1500-2000"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="price-1500-2000"
                      class="ml-2 text-sm text-gray-500"
                      >$1500 - $2000</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="price-2000-plus"
                      name="price-range"
                      value="2000-plus"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="price-2000-plus"
                      class="ml-2 text-sm text-gray-500"
                      >$2000+</label
                    >
                  </div>
                  <!-- Add more price range checkboxes here -->
                </div>
              </fieldset>
            </div>

            <!-- Amenities Filter -->
            <div>
              <fieldset>
                <legend class="block text-base font-medium text-black"
                  >Amenities</legend
                >
                <div class="mt-2">
                  <div>
                    <input
                      type="checkbox"
                      id="amenity-pet-friendly"
                      name="amenities"
                      value="pet-friendly"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="amenity-pet-friendly"
                      class="ml-2 text-sm text-gray-500"
                      >Pet-friendly</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="amenity-furnished"
                      name="amenities"
                      value="furnished"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="amenity-furnished"
                      class="ml-2 text-sm text-gray-500"
                      >Furnished</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="amenity-utilities-included"
                      name="amenities"
                      value="utilities-included"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="amenity-utilities-included"
                      class="ml-2 text-sm text-gray-500"
                      >Utilities Included</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="amenity-parking-available"
                      name="amenities"
                      value="parking-available"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="amenity-parking-available"
                      class="ml-2 text-sm text-gray-500"
                      >Parking Available</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="amenity-gym-access"
                      name="amenities"
                      value="gym-access"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="amenity-gym-access"
                      class="ml-2 text-sm text-gray-500"
                      >Gym Access</label
                    >
                  </div>
                  <div>
                    <input
                      type="checkbox"
                      id="amenity-pool-access"
                      name="amenities"
                      value="pool-access"
                      class="size-4 text-black focus:ring-black border-gray-200"
                    />
                    <label
                      for="amenity-pool-access"
                      class="ml-2 text-sm text-gray-500"
                      >Pool Access</label
                    >
                  </div>
                  <!-- Add more amenities checkboxes here -->
                </div>
              </fieldset>
            </div>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

<div class=" items-center w-full flex">
  <input
    type="text"
    placeholder="Country, City, Addres, Postal Code or ID"
    class="h-14 border-0 border-b border-gray-200 text-black ring-transparent focus:ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm block w-full appearance-none"
  />
  <button
    type="submit"
    class="relative group overflow-hidden px-12 h-14 bg-black text-white w-auto hover:bg-gray-100 hover:text-black duration-300">
    Search
  </button>
</div>
