---
const features = [
  {
    category: "Security Features",
    items: [
      { name: "End-to-end encryption" },
      { name: "No trackers or ads" },
      { name: "Open-source and audited" },
    ],
  },
  {
    category: "Privacy Features",
    items: [
      { name: "User-controlled encryption" },
      { name: "Self-destructing messages" },
      { name: "Anonymized metadata" },
    ],
  },
  {
    category: "Utility Features",
    items: [
      { name: "Open-source and audited" },
      { name: "Quantum-resistant encryption" },
      { name: "Two-factor authentication (2FA)" },
    ],
  },
  {
    category: "More Features",
    items: [
      { name: "Easy-to-use interface" },
      { name: "Cross-device compatibility" },
      { name: "Ample storage space for files" },
    ],
  },
  {
    category: "Additional Features",
    items: [
      { name: "Advanced spam and phishing" },
      { name: "Multi-platform support" },
      { name: "Synchronized calendars" },
    ],
  },
  {
    category: "Integration Features",
    items: [
      { name: "Collaborative document" },
      { name: "Password manager integration" },
      { name: "Encrypted file storage and sharing" },
    ],
  },
];
---

<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div>
      <p class="text-3xl font-normal tracking-tight text-black font-display">
        Privacy by design: empowering users with
        <span class="md:block text-accent-500">
          full control over their personal data.
        </span>
      </p>
      <p class="text-base mt-4 text-zinc-500 max-w-2xl">
        Transform your ordinary images into extraordinary masterpieces
        effortlessly.Witness the magic unfold as your images evolve into
        captivating and unforgettable works
      </p>
      <div class="mt-8 flex flex-wrap gap-2">
        <a
          title="link to your page"
          aria-label="your label"
          href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/79cd9a14-394e-497d-a62f-ab7f5ab2531b"
          class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
          >Buy Brightlight</a
        >
        <a
          title="link to your page"
          aria-label="your label"
          href="/system/overview"
          class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
          >See all pages</a
        >
      </div>
    </div>

    <div class="mt-12 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 lg:gap-12">
      {
        features.map((featureSet, index) => (
          <ul
            class="list-none text-sm text-zinc-500"
            role="list">
            {featureSet.items.map((item, itemIndex) => (
              <li key={itemIndex}>
                <div class="relative py-2 inline-flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-check-filled w-5 h-5"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      stroke-width="0"
                      fill="currentColor"
                    />
                  </svg>
                  <p class="ml-2 leading-6">{item.name}</p>
                </div>
              </li>
            ))}
          </ul>
        ))
      }
    </div>
  </div>
</section>
