<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div>
      <div>
        <p class="text-3xl font-normal text-black font-display">
          Revolutionary privacy-centric architecture:
          <span class="lg:block text-accent-500">
            redefining secure communication paradigms.
          </span>
        </p>
        <p class="text-base mt-4 text-zinc-500 max-w-xl">
          Introducing a groundbreaking architecture that prioritizes privacy,
          ensuring your communication remains impervious to unauthorized access.
        </p>
      </div>
    </div>
    <div class="flex flex-col gap-4 lg:flex-row lg:flex-wrap mt-12 lg:mt-24">
      <div
        class="flex-1 flex max-w-[100vw] flex-col justify-between overflow-hidden rounded-2xl bg-chalk border">
        <div
          class="h-[300px] [-webkit-mask-image:radial-gradient(56.81%_53.42%_at_50%_46.58%,_rgba(217,217,217,0.9)_24.36%,rgba(217,217,217,0)_100%)]">
          <div class="flex justify-between">
            <div class="flex flex-col gap-8">
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/stripe.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/spotify.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="Tikto"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/chrome.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/loom.svg"
                />
              </div>
            </div>
            <div class="flex flex-col gap-8">
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/behance.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/invision.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt=""
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/loom.svg"
                />
              </div>
            </div>
            <div class="flex flex-col gap-8">
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/marvel.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/dribbble.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  class="rounded-full"
                  src="/integrations/php.svg"
                />
              </div>
            </div>
            <div class="flex flex-col gap-8">
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/soundcloud.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/blackberry.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/shazam.svg"
                />
              </div>
            </div>
            <div class="flex flex-col gap-8">
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/app_store.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/adobe.svg"
                />
              </div>
              <div
                class="flex h-16 w-16 items-center justify-center rounded-xl border mx-4 shadow">
                <img
                  alt="#"
                  loading="lazy"
                  width="40"
                  height="40"
                  src="/integrations/codepen.svg"
                />
              </div>
            </div>
          </div>
        </div>

        <div class="mx-6 mb-6 flex flex-col gap-2 sm:mx-8 sm:mb-8">
          <div class="text-sm font-medium leading-6 text-accent-500">
            Encryption
          </div>
          <div class="font-display text-xl leading-7 tracking-tight text-black">
            <span>Quantum-resistant encryption</span>
          </div>
          <div class="text-sm leading-6 text-zinc-500">
            Brightlight utilizes cutting-edge quantum-resistant encryption.
          </div>
        </div>
      </div>
      <div
        class="flex-3 lg:max-w-[696px] flex max-w-[100vw] flex-col justify-between overflow-hidden rounded-2xl border bg-chalk lg:min-w-[384px] ">
        <div
          class="flex gap-8 overflow-x-auto p-6 sm:p-12 max-w-[calc(100vw-34px)]">
          <div style="transform: none;">
            <div
              class="h-[164px] w-[248px] translate-x-0 rounded-xl border bg-chalk shadow overflow-hidden">
              <img
                alt="#"
                loading="lazy"
                src="/assets/dashboard.svg"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
              />
            </div>
          </div>
          <div style="transform: none;">
            <div
              class="h-[164px] w-[248px] translate-x-0 rounded-xl border bg-chalk shadow overflow-hidden">
              <img
                alt="#"
                loading="lazy"
                src="/assets/dashboardBlue.svg"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
              />
            </div>
          </div>
          <div>
            <div
              class="h-[164px] w-[248px] translate-x-0 rounded-xl border bg-chalk shadow overflow-hidden">
              <img
                alt="#"
                loading="lazy"
                src="/assets/dashboardBlack.svg"
                style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
              />
            </div>
          </div>
        </div>

        <div class="mx-6 mb-6 flex flex-col gap-2 sm:mx-8 sm:mb-8">
          <div class="text-sm font-medium leading-6 text-accent-500">Tools</div>
          <div class="font-display text-xl leading-7 tracking-tight text-black">
            <span>Self-destructing messages</span>
          </div>
          <div class="text-sm leading-6 text-zinc-500">
            Set an expiration time on your messages, and they will automatically
            delete themselves from both the sender's and recipient's devices,
            leaving no trace behind.
          </div>
        </div>
      </div>

      <div
        class="flex-1 flex max-w-[100vw] flex-col justify-between overflow-hidden rounded-2xl bg-chalk lg:min-w-[384px] border">
        <div>
          <div
            class="relative left-[-25%] w-[150%] font-medium leading-6 text-zinc-500">
            <div
              class="pointer-events-none absolute inset-0 bottom-[-3px] z-20"
              style="background: radial-gradient(76.24% 66.44% at 50% 33.56%, rgba(255, 255, 255, 0.1) 0%, rgb(255, 255, 255) 100%);">
            </div>
            <div
              class="flex gap-8 overflow-x-auto p-6 sm:p-12 max-w-[calc(100vw-6px)]">
              <div class="mx-auto">
                <div
                  class="h-[264px] w-[448px] overflow-hidden translate-x-0 rounded-2xl border bg-chalk shadow">
                  <img
                    alt="#"
                    loading="lazy"
                    src="/assets/dashboard.svg"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-6 mb-6 flex flex-col gap-2 sm:mx-8 sm:mb-8">
          <div class="text-sm font-medium leading-6 text-accent-500">
            Content
          </div>
          <div class="font-display text-xl leading-7 tracking-tight text-black">
            Anonymized metadata
          </div>
          <div class="text-sm leading-6 text-zinc-500">
            Brightlight goes beyond just encrypting the content of your
            messages. It also anonymizes metadata, such as sender.
          </div>
        </div>
      </div>
      <div
        class="flex-1 flex max-w-[100vw] flex-col justify-between overflow-hidden rounded-2xl bg-chalk lg:min-w-[384px] border">
        <div>
          <div
            class="relative left-[-25%] w-[150%] font-medium leading-6 text-zinc-500">
            <div
              class="pointer-events-none absolute inset-0 bottom-[-3px] z-20"
              style="background: radial-gradient(76.24% 66.44% at 50% 33.56%, rgba(255, 255, 255, 0.1) 0%, rgb(255, 255, 255) 100%);">
            </div>
            <div
              class="flex gap-8 overflow-x-auto p-6 sm:p-12 max-w-[calc(100vw-6px)]">
              <div class="mx-auto">
                <div
                  class="h-[264px] w-[448px] overflow-hidden translate-x-0 rounded-2xl border bg-chalk shadow">
                  <img
                    alt="#"
                    loading="lazy"
                    src="/assets/dashboard.svg"
                    style="position: absolute; height: 100%; width: 100%; inset: 0px; color: transparent;"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mx-6 mb-6 flex flex-col gap-2 sm:mx-8 sm:mb-8 relative">
          <div class="text-sm font-medium leading-6 text-accent-500">(2FA)</div>
          <div class="font-display text-xl leading-7 tracking-tight text-black">
            Two-factor authentication
          </div>
          <div class="text-sm leading-6 text-zinc-500">
            By enabling 2FA, users must provide a second form of verification,
            such as a unique code sent to their mobile device.
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
