---
import { Code } from "astro/components";
const securityFeatures = [
  {
    title: "End-to-end encryption",
    description:
      "Benefit from advanced cryptography that ensures your data remains inaccessible.",
  },
  {
    title: "No trackers or ads",
    description:
      "Rest assured that your data is never traded, shared, or utilized for advertising purposes.",
  },
  {
    title: "Open-source and audited",
    description:
      "Brightlight operates on open-source principles, employing open-source cryptography and undergoing external security audits.",
  },
  {
    title: "User-controlled encryption keys",
    description:
      "Brightlight empowers users by allowing them to maintain control over their encryption keys.",
  },
];
const featuresList = [
  { title: "End-to-end encryption" },
  { title: "No trackers or ads" },
  { title: "Open-source and audited" },
];
---

<section>
  <div
    class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32 space-y-24">
    <div>
      <p class="text-3xl font-normal tracking-tight text-black font-display">
        Privacy by design: empowering users with
        <span class="md:block text-accent-500">
          full control over their personal data.
        </span>
      </p>
      <p class="text-base mt-4 text-zinc-500 max-w-2xl">
        Transform your ordinary images into extraordinary masterpieces
        effortlessly.Witness the magic unfold as your images evolve into
        captivating and unforgettable works
      </p>
      <div class="mt-8 flex flex-wrap gap-2">
        <a
          title="link to your page"
          aria-label="your label"
          href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/79cd9a14-394e-497d-a62f-ab7f5ab2531b"
          title="link to your page"
          aria-label="your label"
          class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
          >Buy Brightlight</a
        >
        <a
          title="link to your page"
          aria-label="your label"
          href="/system/overview"
          title="link to your page"
          aria-label="your label"
          class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
          >See all pages</a
        >
      </div>
    </div>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 gap-y-8 list-none"
      role="list">
      {
        securityFeatures.map((feature) => (
          <li>
            <p class="font-display text-xl leading-7 tracking-tight text-black">
              {feature.title}
            </p>
            <p class="text-sm text-zinc-500 mt-4">{feature.description}</p>
          </li>
        ))
      }
    </ul>
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center lg:grid-cols-2 lg:gap-12">
      <div>
        <p class="text-3xl font-normal text-black font-display">
          Multilayered security infrastructure: a fortified shield for your
          digital footprint.
        </p>
        <p class="text-sm mt-4 text-zinc-500">
          Employing a comprehensive security framework comprising multiple
          layers, we fortify your digital presence against potential threats,
          ensuring peace of mind in an ever-evolving digital landscape.
        </p>
        <ul
          class="list-none text-zinc-500 text-sm mt-12"
          role="list">
          {
            featuresList.map((feature) => (
              <li>
                <div class="relative py-2 inline-flex items-start">
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-circle-check-filled w-5 h-5"
                    viewBox="0 0 24 24"
                    stroke-width="1"
                    stroke="currentColor"
                    fill="none"
                    stroke-linecap="round"
                    stroke-linejoin="round">
                    <path
                      stroke="none"
                      d="M0 0h24v24H0z"
                      fill="none"
                    />
                    <path
                      d="M17 3.34a10 10 0 1 1 -14.995 8.984l-.005 -.324l.005 -.324a10 10 0 0 1 14.995 -8.336zm-1.293 5.953a1 1 0 0 0 -1.32 -.083l-.094 .083l-3.293 3.292l-1.293 -1.292l-.094 -.083a1 1 0 0 0 -1.403 1.403l.083 .094l2 2l.094 .083a1 1 0 0 0 1.226 0l.094 -.083l4 -4l.083 -.094a1 1 0 0 0 -.083 -1.32z"
                      stroke-width="0"
                      fill="currentColor"
                    />
                  </svg>
                  <p class="ml-2 leading-6">{feature.title}</p>
                </div>
              </li>
            ))
          }
        </ul>
      </div>
      <div class="lg:mt-0 mt-12 h-full lg:order-first">
        <div
          x-data="{
        tabSelected: 1,
        tabId: $id('tabs'),
        tabButtonClicked(tabButton){
            this.tabSelected = tabButton.id.replace(this.tabId + '-', '');
            this.tabRepositionMarker(tabButton);
        },
        tabRepositionMarker(tabButton){
            this.$refs.tabMarker.style.width=tabButton.offsetWidth + 'px';
            this.$refs.tabMarker.style.height=tabButton.offsetHeight + 'px';
            this.$refs.tabMarker.style.left=tabButton.offsetLeft + 'px';
        },
        tabContentActive(tabContent){
            return this.tabSelected == tabContent.id.replace(this.tabId + '-content-', '');
        }
    }"
          x-init="tabRepositionMarker($refs.tabButtons.firstElementChild);"
          class="relative w-full p-4 rounded-2xl border bg-chalk sm:px-8 sm:pb-8 lg:px-10 lg:pb-10 pb-6">
          <div
            x-ref="tabButtons"
            class="relative inline-grid items-center justify-start w-full grid-cols-2 select-none border-b">
            <button
              :id="$id(tabId)"
              @click="tabButtonClicked($el);"
              type="button"
              class="relative z-20 inline-flex items-center justify-start w-full h-8 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap"
              >Account</button
            >
            <button
              :id="$id(tabId)"
              @click="tabButtonClicked($el);"
              type="button"
              class="relative z-20 inline-flex items-center justify-start w-full h-8 text-sm font-medium transition-all rounded-md cursor-pointer whitespace-nowrap"
              >Password</button
            >
            <div
              x-ref="tabMarker"
              class="absolute left-0 z-10 w-1/2 h-full duration-300 ease-out"
              x-cloak>
              <div class="w-12 h-full border-b-2 border-accent-400"></div>
            </div>
          </div>
          <div class="relative w-full mt-2 content">
            <div
              :id="$id(tabId + '-content')"
              x-show="tabContentActive($el)"
              class="relative">
              <div
                class="text-xs font-mono shadow-3xl mt-4 overflo-whidden h-full">
                <Code
                  class="p-4 bg-zinc-50 rounded-xl"
                  code={`import { defineConfig } from 'astro/config';
import compress from "astro-compress";
import partytown from "@astrojs/partytown";
import sitemap from "@astrojs/sitemap";
import tailwind from "@astrojs/tailwind";
import image from "@astrojs/image";
import image from "@astrojs/image";
import compress from "astro-compress";
import partytown from "@astrojs/partytown";
import sitemap from "@astrojs/sitemap";
import tailwind from "@astrojs/tailwind";
import image from "@astrojs/image";
import compress from "astro-compress";
import partytown from "@astrojs/partytown";
import sitemap from "@astrojs/sitemap";
// https://astro.build/config
export default defineConfig({
   site: 'https://lexingtonthemes.com',
  integrations: [tailwind(), image(), sitemap()]
});}'`}
                  lang="js"
                  theme="css-variables"
                />
              </div>
            </div>
            <div
              :id="$id(tabId + '-content')"
              x-show="tabContentActive($el)"
              class="relative"
              x-cloak>
              <div
                class="text-xs font-mono mt-4 rounded-2xl overflowhidden h-full">
                <Code
                class="p-4 bg-zinc-50 rounded-xl"
                  code={`import { defineConfig } from 'astro/config';
import tailwind from "@astrojs/tailwind";
import image from "@astrojs/image";
import compress from "astro-compress";
import partytown from "@astrojs/mdx";
import sitemap from "@astrojs/sitemap";
import image from "@astrojs/image";
import compress from "astro-vue";
import partytown from "@astrojs/partytown";
import sitemap from "@astrojs/sitemap";
// https://astro.build/config
export default defineConfig({
   site: 'https://lexingtonthemes.com',
  integrations: [tailwind(),  sitemap()]
});}'`}
                  lang="js"
                  theme="css-variables"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
