---
const features = [
  {
    title: "End-to-end encryption",
    description:
      "Benefit from advanced cryptography that ensures your data remains inaccessible.",
  },
  {
    title: "No trackers or ads",
    description:
      "Rest assured that your data is never traded, shared, or utilized.",
  },
  {
    title: "Open-source and audited",
    description:
      "Brightlight operates on open-source principles, employing open-source.",
  },
  {
    title: "User-controlled encryption",
    description:
      "Brightlight empowers users by allowing them to maintain control over their encryption keys.",
  },
];
---

<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div
      class="grid grid-cols-1 gap-4 mt-6 items-center list-none lg:grid-cols-2 lg:gap-24">
      <div class="text-center lg:text-left">
        <p class="text-3xl font-normal text-black font-display">
          Multilayered security
        </p>
        <p class="text-base mt-4 text-zinc-500">
          Employing a comprehensive security framework comprising multiple
          layers, we fortify your digital presence against potential threats,
          ensuring peace of mind in an ever-evolving digital landscape.
        </p>
        <div class="items-center flex-wrap mt-10 gap-2 flex">
          <a
            title="link to your page"
            aria-label="your label"
            href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/79cd9a14-394e-497d-a62f-ab7f5ab2531b"
            class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
            >Buy Brightlight</a
          >
          <a
            title="link to your page"
            aria-label="your label"
            href="/system/overview"
            class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
            >See all pages</a
          >
        </div>
        <div></div>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full hidden lg:block rounded-2xl overflow-hidden border">
        <img
          alt="Lexingtøn thumbnail"
          class="w-full bg-chalk"
          src="/assets/phone5.png"
        />
      </div>
    </div>
    <ul
      class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8 mt-12 list-none"
      role="list">
      {
        features.map((feature, index) => (
          <li>
            <p class="text-accent-500 font-display text-4xl">{index + 1}</p>
            <p class="font-display text-xl mt-4 leading-7 tracking-tight text-black">
              {feature.title}
            </p>
            <p class="text-sm text-zinc-500 mt-4 text-pretty">{feature.description}</p>
          </li>
        ))
      }
    </ul>
  </div>
</section>
