---
import { getCollection } from "astro:content";
const allPosts = await getCollection("changelog");
import BaseLayout from "@/layouts/BaseLayout.astro";
import Entries from "@/components/changelog/Entries.astro";
---

<BaseLayout>
  <section>
    <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-36">
      <div class="max-w-2xl ">
        <h1 class="text-3xl font-normal tracking-tight text-black font-display text-balance">
          Changelog: Stay updated with our latest improvements
        </h1>
        <p class="text-base mt-4 text-zinc-500 max-w-2xl">
          Track the evolution of our platform through detailed release notes
        </p>
      </div>

      <div class="mt-12 space-y-12 divide-2">

        {
          allPosts.slice().map((post) => (
            <Entries
              url={"/changelog/" + post.slug}
              page={post.data.page}
              description={post.data.description}
              alt={post.data.page}

              pubDate={post.data.pubDate.toString().slice(4, 15)}
            />
          ))
        }

      </div>
    </div>
  </section>

</BaseLayout>
