---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div class="px-8 pt-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:pt-36">
      <div class="prose-styles">
        <h1>
          <span class="text-accent-500">404:</span>The requested page couldn't
          be found, but don't worry, we're here to help.
        </h1>
        <p
          class="text-base lg:text-lg mt-4 text-zinc-500 text-pretty lg:text-balance">
          We apologize for the inconvenience. It seems that the page you're
          looking for has taken an unexpected detour or might no longer exist.
          Our team of tech-savvy experts is on the case, diligently working to
          address the issue and get everything back on track.
        </p>
        <div class="items-center flex-wrap mt-10 gap-2 flex not-prose">
          <a
            href="/"
            class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
            >Go back gome</a
          >
          <a
            href="/system/overview"
            class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
            >See all pages</a
          >
        </div>
        <p>
          In the meantime, here are a few suggestions to help you find what
          you're looking for:
        </p>
        <ul role="list">
          <li>
            <p>
              Double-check the URL: Ensure that the web address you entered is
              correct. Small typos can lead to unexpected results.
            </p>
          </li>
          <li>
            <p>
              Go back to the previous page: Use your browser's back button or
              navigate to the previous page to see if you can find the desired
              information there.
            </p>
          </li>
          <li>
            <p>
              Start from our homepage: Visit our homepage to explore our wide
              range of services and offerings. You might find what you were
              looking for by browsing through our available sections and
              features.
            </p>
          </li>
          <li>
            <p>
              Contact our support team: If you're still unable to find what you
              need, feel free to reach out to our friendly support team. They
              are ready to assist you and provide any guidance or answers to
              your questions.
            </p>
          </li>
        </ul>
      </div>
    </div>
  </section>
</BaseLayout>
