<section >


  <div class="px-8 pt-24 mx-auto md:px-12 relative lg:px-32 max-w-7xl lg:pt-36">
    <div>
      <h1
        class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display text-balance">
        Email service that prioritizes privacy by
        <span class="text-accent-500">
          implementing end-to-end encryption.
        </span>
      </h1>
      <p class="text-base lg:text-lg lg:w-1/2 mt-4 text-zinc-500 lg:text-balance">
        Experience the freedom of secure communication with end-to-end encrypted
        email, calendar, documents, and files.
      </p>
      <div class="items-center flex-wrap mt-10 gap-2 flex">
        <a
          title="link to your page"
          aria-label="your label"
          href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/79cd9a14-394e-497d-a62f-ab7f5ab2531b"
          class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
          >Buy Brightlight</a
        >
        <a
          title="link to your page"
          aria-label="your label"
          href="/system/overview"
          class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
          >See all pages</a
        >
      </div>
    </div>
  </div>
  <div class="max-w-7xl mx-auto px-8 lg:px-0 pb-12 mt-12 lg:mt-24 relative">
    <img
      class="w-full object-cover rounded-2xl border"
      src="/assets/dashboard.svg"
      alt=""
    />
  </div>
</section>
