<section>
  <div
    class="relative items-center w-full text-center px-8 py-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-36 overflow-hidden">

    <h1
      class="text-4xl tracking-tight font-medium text-black md:text-5xl font-display">
      Email service that prioritizes privacy by
      <span class="lg:block"> implementing end-to-end encryption.</span>
    </h1>
    <p class="text-base lg:text-lg max-w-xl mx-auto mt-4 text-zinc-500">
      Experience the freedom of secure communication with end-to-end encrypted
      email, calendar, documents, and files.
    </p>
    <div class="w-full items-center flex-wrap justify-center mt-10 gap-2 flex">
      <a
        href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/79cd9a14-394e-497d-a62f-ab7f5ab2531b"
        class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
        >Buy Brightlight</a
      >
      <a
        href="/system/overview"
        class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
        >See all pages</a
      >
    </div>
  </div>
</section>
