---
const faqs = [
  {
    question: "How does end-to-end encryption work?",
    answer:
      "End-to-end encryption ensures that only the sender and recipient can access the content of a message. The information is encrypted on the sender's device and can only be decrypted by the intended recipient, preventing any intermediaries, including the platform provider, from accessing the data.",
  },
  {
    question: "Can I access my encrypted data if I forget my encryption key?",
    answer:
      "No, forgetting or losing your encryption key means that your encrypted data cannot be accessed. This is a crucial security measure to ensure that even if someone gains unauthorized access to your account, they won't be able to decrypt and view your messages or files.",
  },
  {
    question:
      "Are there any limitations to the self-destructing messages feature?",
    answer:
      "Self-destructing messages are designed to automatically delete themselves after a specific period or upon being read by the recipient. However, it's important to note that the feature only removes the message from the devices involved in the conversation. Recipients may take screenshots or use other means to capture the content, which is beyond the platform's control.",
  },
  {
    question:
      "What happens if I enable two-factor authentication and lose my device?",
    answer:
      "Losing your device doesn't automatically compromise your account's security. It's recommended to contact our support team as soon as possible to disable the two-factor authentication on your lost device and set up the authentication on your new device. This process will help protect your account from unauthorized access while ensuring you can regain access to it.",
  },
  {
    question: "Is my personal information shared or sold to third parties?",
    answer:
      "No, we strictly adhere to a privacy-centric approach. Your personal information is never shared, sold, or monetized. We prioritize your privacy and ensure that your data remains confidential and only accessible to you.",
  },
  {
    question: "Can I use this platform on multiple devices?",
    answer:
      "Yes, you can access our platform on multiple devices. Your encrypted data remains synced across all devices, allowing you to seamlessly communicate and access your files and messages from anywhere.",
  },
  {
    question: "Are there any storage limitations for files and documents?",
    answer:
      "Our platform provides ample storage space for your files and documents. However, there may be storage limitations based on the pricing plan you choose. We offer flexible plans to suit your needs and provide options to upgrade if you require additional storage capacity.",
  },
  {
    question: "Is it possible to export my data from the platform?",
    answer:
      "Yes, you can export your data from the platform. We offer export features that allow you to download your messages, files, and documents, ensuring you have a local copy for backup or migration purposes. It provides you with greater control and flexibility over your data.",
  },
];
---

<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-12">
      <div class="text-center lg:text-left text-balance">
        <div>
          <p
            class="text-3xl font-normal tracking-tight text-black font-display">
            Frequently asked questions
          </p>
          <p class="text-base mt-4 text-zinc-500">
            Answers to commonly asked questions about our platform
          </p>
        </div>
      </div>
      <div class="relative w-full mx-auto font-normal lg:col-span-2">
        {
          faqs.map((faq) => (
            <details class="group cursor-pointer">
              <summary class="flex items-center justify-between w-full pt-4 pb-1 text-left select-none text-zinc-600 hover:text-accent-500">
                {faq.question}
                <svg
                  class="w-5 h-5 duration-300 ease-out text-accent-500 transform group-open:-rotate-45"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M12 6v12m6-6H6"
                  />
                </svg>
              </summary>
              <div class="py-4 pt-2 text-zinc-500">{faq.answer}</div>
            </details>
          ))
        }
      </div>
    </div>
  </div>
</section>
