<section>
  <div class="py-2">
    <div
      class="flex flex-col p-4 text-center py-32 bg-white rounded-xl overflow-hidden relative">
      <img
        class="size-96 absolute -left-32 md:scale-150 md:-bottom-32"
        src="/products/19.png"
        alt=""
      />
      <img
        class="size-96 absolute ms:scale-150 md:-bottom-32 -right-32"
        src="/products/19.png"
        alt=""
      />
      <div class="max-w-xl mx-auto relative">
        <h1
          class="text-lg text-neutral-600 font-mono tracking-tight text-balance uppercase">
          Subscribe to our all included bundle, monhtly, quarterly and yearly.
        </h1>
        <p class="text-sm text-balance text-neutral-500">
          Subscribe today and enjor more then 50.000 products in your cart.
        </p>
        <div class="flex justify-center mt-12">
          <a
            type="submit"
            title="link to your page"
            aria-label="your label"
            class="relative group overflow-hidden pl-4 font-mono h-14 flex space-x-6 items-center bg-orange-500 hover:bg-black duration-300 rounded-xl justify-between">
            <span class="relative uppercase text-xs text-white">Subscribe today</span>
            <div
              aria-hidden="true"
              class="w-12 text-white transition duration-300 -translate-y-7 group-hover:translate-y-7">
              <div class="h-14 flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 m-auto fill-white">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  ></path>
                </svg>
              </div>
              <div class="h-14 flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 m-auto fill-white">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  ></path>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
