---
import BaseHead from "../components/BaseHead.astro";
import Navigation from "../components/global/Navigation.astro";
import Footer from "../components/global/Footer.astro";
---

<html
  lang="en"
  class="scroll-smooth">
  <head>
    <BaseHead />
  </head>
  <body
    class="bg-neutral-100 mx-auto 2xl:max-w-7xl   flex flex-col min-h-svh p-4">
    <Navigation />
    <main class="grow"><slot /></main>
    <Footer />
  </body>
</html>
