---
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <section>
    <div
      class="flex flex-col gap-12 h-full justify-between p-4 text-center py-20">
      <div class="max-w-xl mx-auto">
        <h1
          class="text-lg text-neutral-600 font-mono tracking-tight text-balance">
          404 Page not found
        </h1>
        <p class="text-sm text-balance text-neutral-500">
          The page you are looking for does not exist. Please try again. If the
          problem persists, please contact us.
        </p>
        <div class="gap-2 flex flex-col h-full justify-end mt-12">
          <a
            href="/"
            title="link to your page"
            aria-label="your label"
            class="relative group overflow-hidden pl-4 font-mono h-14 flex space-x-6 items-center bg-white hover:bg-neutral-200 duration-300 rounded-xl w-full justify-between">
            <span class="relative uppercase text-xs text-orange-600"
              >Go home</span
            >
            <div
              aria-hidden="true"
              class="w-12 text-orange-600 transition duration-300 -translate-y-7 group-hover:translate-y-7">
              <div class="h-14 flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 m-auto fill-white">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  ></path>
                </svg>
              </div>
              <div class="h-14 flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 m-auto fill-white">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  ></path>
                </svg>
              </div>
            </div>
          </a>
          <a
            href="/forms/contact"
            title="link to your page"
            aria-label="your label"
            class="relative group overflow-hidden pl-4 font-mono h-14 flex space-x-6 items-center bg-orange-500 hover:bg-black duration-300 rounded-xl w-full justify-between">
            <span class="relative uppercase text-xs text-white"
              >Contact us</span
            >
            <div
              aria-hidden="true"
              class="w-12 text-white transition duration-300 -translate-y-7 group-hover:translate-y-7">
              <div class="h-14 flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 m-auto fill-white">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  ></path>
                </svg>
              </div>
              <div class="h-14 flex">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="size-6 m-auto fill-white">
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                  ></path>
                </svg>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>
</BaseLayout>
