<section>
  <div class="flex flex-col p-4 text-center py-20">
    <div class="max-w-xl mx-auto">
      <h1
        class="text-lg text-neutral-600 font-mono tracking-tight text-balance uppercase">
        Williamsburg, your next ecommerce theme for all your products.
      </h1>
      <p class="text-sm text-balance text-neutral-500">
        Your next minimalist ecommerce theme for all your digital products.
      </p>
    </div>
  </div>
</section>
