<section>
  <div class="px-8 pt-24 mx-auto md:px-12 lg:px-32 max-w-7xl lg:py-36">
    <h1
      class="text-4xl tracking-tight font-medium text-black font-display text-balance">
      Discover the story behind our platform:
      <span class="text-accent-500">
        empowering secure communication and privacy protection.
      </span>
    </h1>
    <p class="text-base lg:text-lg max-w-xl mt-4 text-zinc-500">
      Learn more about our mission, values, and commitment to safeguarding your
      privacy and enabling secure communication.
    </p>

    <div class="grid grid-cols-1 gap-4 lg:grid-cols-2 mt-12 lg:gap-12 lg:mt-24">
      <div>
        <p class="text-3xl font-normal tracking-tight text-black font-display">
          Privacy by design:
          <span class="md:block text-accent-500">
            empowering users with full control.
          </span>
        </p>
        <p class="text-sm mt-4 text-zinc-500">
          Transform your ordinary images into extraordinary masterpieces
          effortlessly.Witness the magic unfold as your images evolve into
          captivating and unforgettable works
        </p>
        <p class="text-sm mt-4 text-zinc-500">
          Employing a comprehensive security framework comprising multiple
          layers, we fortify your digital presence against potential threats,
          ensuring peace of mind in an ever-evolving digital landscape.
        </p>
      </div>
      <div
        class="lg:mt-0 mt-12 h-full rounded-2xl bg-chalk overflow-hidden border">
        <img
          alt="#"
          class="w-full"
          src="/assets/phone3.png"
        />
      </div>
    </div>
  </div>
</section>
