<section class="overflow-hidden">
  <div class="px-8 pb-12 lg:pt-32">
    <h1
      data-aos="fade-up"
      data-aos-duration="1500"
      class="text-balance text-3xl md:text-5xl lg:text-4xl       text-black">
      Sign up
    </h1>
    <div class="grid lg:grid-cols-3 pt-8 mt-40 border-t gap-8">
      <div class="relative overflow-hidden">
        <img
          data-aos="fade-up"
          data-aos-duration="1500"
          class="h-full object-cover object-center relative"
          src="https://images.unsplash.com/photo-1469964062538-06fad433a132?q=80&w=2669&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt=""
        />
        <div
          data-aos="fade-up"
          data-aos-duration="2000"
          class="absolute w-full h-full inset-0 p-8 bg-black/30 2xl:p-20">
          <p
            class="text-3xl 2xl:text-6xl font-light text-white lg:text-pretty      ">
            Save searches, save your favorite properties, and more.
          </p>
        </div>
      </div>
      <div
        class="lg:col-span-2"
        data-aos="fade-up"
        data-aos-duration="2000">
        <form class="w-full">
          <div class="flex flex-wrap w-full gap-3">
            <button
              type="submit"
              class="relative group overflow-hidden px-12 h-16 border w-full text-black lg:w-auto">
              <div
                aria-hidden="true"
                class="transition duration-300 group-hover:-translate-y-16 w-full">
                <div class="h-16 flex items-center justify-center">
                  <span>Sign in with Google</span>
                </div>
                <div class="h-16 flex items-center justify-center">
                  <span>Sign in with Google</span>
                </div>
              </div>
            </button>
            <button
              type="submit"
              class="relative group overflow-hidden px-12 h-16 border w-full text-black lg:w-auto">
              <div
                aria-hidden="true"
                class="transition duration-300 group-hover:-translate-y-16 w-full">
                <div class="h-16 flex items-center justify-center">
                  <span>Sign in with Apple</span>
                </div>
                <div class="h-16 flex items-center justify-center">
                  <span>Sign in with Apple</span>
                </div>
              </div>
            </button>
          </div>
          <div class="mt-8 pt-8 border-t">
            <p class="text-xl text-black lg:text-pretty">
              Sign up with your email address instead.
            </p>
          </div>
          <div class="flex flex-col gap-8 mt-8 pt-8 border-t">
            <div>
              <label
                for="name"
                class="block text-xl font-light text-black"
                >Name</label
              >
              <div>
                <input
                  id="name"
                  name="name"
                  type="text"
                  autocomplete="name"
                  class="block w-full h-12 border-0 py-1.5 border-b border-gray-200 text-black ring-transparent focus:ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>

            <div>
              <label
                for="email"
                class="block text-xl font-light text-black"
                >Email address</label
              >
              <div>
                <input
                  id="email"
                  name="email"
                  type="email"
                  autocomplete="email"
                  class="block w-full h-12 border-0 py-1.5 border-b border-gray-200 text-black ring-transparent focus:ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div>
              <label
                for="phone"
                class="block text-xl font-light text-black"
                >Phone number ( optional )</label
              >
              <div>
                <input
                  id="phone"
                  name="phone"
                  type="tel"
                  autocomplete="tel"
                  class="block w-full h-12 border-0 py-1.5 border-b
                border-gray-200 text-black ring-transparent focus:ring-black placeholder:text-gray-400
                focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block text-xl font-light text-black"
                >Password</label
              >
              <div>
                <input
                  id="password"
                  name="password"
                  type="password"
                  autocomplete="new-password"
                  class="block w-full h-12 border-0 py-1.5 border-b border-gray-200 text-black ring-transparent focus:ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div class="mt-4">
              <label
                for="confirmPassword"
                class="block text-xl font-light text-black"
                >Confirm Password</label
              >
              <div>
                <input
                  id="confirmPassword"
                  name="confirmPassword"
                  type="password"
                  autocomplete="new-password"
                  class="block w-full h-12 border-0 py-1.5 border-b border-gray-200 text-black ring-transparent focus:ring-black placeholder:text-gray-400 focus:ring-2 focus:ring-inset sm:text-sm"
                />
              </div>
            </div>
            <div class="flex flex-col">
              <p class="text-xl text-black lg:text-pretty">
                Are you working with an associate or office?
              </p>
              <div class="mt-4 flex items-center gap-8">
                <div class="flex items-center">
                  <input
                    id="no"
                    name="no"
                    type="checkbox"
                    class="size-4 text-black focus:ring-black border-gray-200"
                  />
                  <label
                    for="no"
                    class="ml-2 block text-sm text-black"
                    >No</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    id="office"
                    name="office"
                    type="checkbox"
                    class="size-4 text-black focus:ring-black border-gray-200"
                  />
                  <label
                    for="office"
                    class="ml-2 block text-sm text-black"
                    >Office</label
                  >
                </div>
                <div class="flex items-center">
                  <input
                    id="agent"
                    name="agent"
                    type="checkbox"
                    class="size-4 text-black focus:ring-black border-gray-200"
                  />
                  <label
                    for="agent"
                    class="ml-2 block text-sm text-black"
                    >Agent</label
                  >
                </div>
              </div>
            </div>
            <div class="flex justify-between items-center">
              <a
                title="Your title"
                aria-label="Your title"
                class="text-black hover:text-gray-500"
                href="/forms/sign-in"
                >Already have and account? Sign in instead.</a
              >
            </div>
          </div>
          <div class="flex w-full mt-8 gap-3">
            <button
              type="submit"
              class="relative group overflow-hidden px-12 h-16 bg-black text-white w-auto">
              <div
                aria-hidden="true"
                class="transition duration-300 group-hover:-translate-y-16 w-full">
                <div class="h-16 flex items-center justify-center">
                  <span>Submit</span>
                </div>
                <div class="h-16 flex items-center justify-center">
                  <span>Submit</span>
                </div>
              </div>
            </button>
          </div>
          <div
            class="mt-40 pt-8 border-t text-gray-500 text-xs 2xl:text-sm space-y-4">
            <p>
              By submitting this form, you acknowledge that you accept the
              quartiere's International Realty <a
                title="Your title"
                aria-label="Your title"
                class="text-black hover:text-gray-500 underline"
                href="/infopages/terms"
                >Terms</a
              > of Use and <a
                title="Your title"
                aria-label="Your title"
                class="text-black hover:text-gray-500 underline"
                href="/infopages/privacy"
                >Privacy Policy</a
              >.
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
