<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 rounded-2xl bg-gradient-to-b from-accent-600 to-accent-500 overflow-hidden p-4 lg:p-20">
      <div
        class="relative items-center gap-12 m-auto lg:inline-flex md:order-first">
        <div class="max-w-xl text-center lg:text-left p-8 lg:p-0">
          <p
            class="text-3xl font-normal tracking-tight text-white font-display text-balance">
            Download our app now and take control of your privacy!
          </p>
          <p class="text-white mt-4 text-balance">
            Experience secure and private communication at your fingertips with
            our user-friendly app.
          </p>
          <div class="flex flex-col justify-center mt-12 gap-3">
            <a
              href=""
              title="link to your page"
              aria-label="your label"
              class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/20">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon size-6 icon-tabler icon-tabler-brand-google-play"

                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path
                  d="M4 3.71v16.58a.7 .7 0 0 0 1.05 .606l14.622 -8.42a.55 .55 0 0 0 0 -.953l-14.622 -8.419a.7 .7 0 0 0 -1.05 .607z"
                ></path>
                <path d="M15 9l-10.5 11.5"></path>
                <path d="M4.5 3.5l10.5 11.5"></path>
              </svg>
              <span class="ml-4 flex items-start flex-col leading-none">
                Download on Google Play
              </span>
            </a>
            <a
              href=""
              title="link to your page"
              aria-label="your label"
              class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-white/[.105] to-white/[.15] hover:to-white/[.25] h-10 ring-1 ring-inset ring-white/20">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="icon size-6 icon-tabler icon-tabler-brand-apple"

                viewBox="0 0 24 24"
                stroke-width="2"
                stroke="currentColor"
                fill="none"
                stroke-linecap="round"
                stroke-linejoin="round">
                <path
                  stroke="none"
                  d="M0 0h24v24H0z"
                  fill="none"
                ></path>
                <path
                  d="M9 7c-3 0 -4 3 -4 5.5c0 3 2 7.5 4 7.5c1.088 -.046 1.679 -.5 3 -.5c1.312 0 1.5 .5 3 .5s4 -3 4 -5c-.028 -.01 -2.472 -.403 -2.5 -3c-.019 -2.17 2.416 -2.954 2.5 -3c-1.023 -1.492 -2.951 -1.963 -3.5 -2c-1.433 -.111 -2.83 1 -3.5 1c-.68 0 -1.9 -1 -3 -1z"
                ></path>
                <path d="M12 4a2 2 0 0 0 2 -2a2 2 0 0 0 -2 2"></path>
              </svg>
              <span class="ml-4 flex items-start flex-col leading-none">
                Download on the App Store
              </span>
            </a>
          </div>
        </div>
      </div>
      <div class="order-first hidden w-full mt-0 relative lg:block">
        <img
          class="object-cover lg:absolute object-center w-full mx-auto lg:ml-auto"
          alt="hero"
          src="/assets/phone1.png"
        />
      </div>
    </div>
  </div>
</section>
