<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12 lg:py-32">
    <div
      class="lg:p-20 w-full p-8 rounded-2xl bg-gradient-to-b from-accent-600 to-accent-500">
      <div class="max-w-xl text-center mx-auto">
        <p class="text-3xl font-normal tracking-tight text-white font-display">
          Subscribe to our Newsletter
        </p>
        <p class="text-white mt-4">We have a lot to tell you about.</p>
      </div>
      <form class="max-w-sm mx-auto mt-4">
        <div class="flex flex-col lg:flex-row gap-2">
          <label class="sr-only" for="email-address">Email address</label>
          <input
            autocomplete="email"
            class="block w-full px-4 py-2 h-10 border bg-chalk border-zinc-300 rounded-lg appearance-none text-accent-500 placeholder-zinc-300 focus:border-zinc-300 focus:outline-none focus:ring-zinc-300 duration-200 sm:text-sm"
            id="email-address"
            name="email"
            placeholder="Enter your email"
            required=""
            type="email"
          />
          <button
            class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center bg-black text-white hover:bg-zinc-700 h-10"
            type="submit">Subscribe</button
          >
        </div>
      </form>
    </div>
  </div>
</section>
