<section>
  <div class="max-w-7xl px-8 md:px-12 lg:px-32 mx-auto py-12">
    <div
      class="grid grid-cols-1 gap-6 lg:grid-cols-2 lg:gap-24 bg-chalk border rounded-2xl overflow-hidden p-4 lg:p-20">
      <div
        class="relative items-center gap-12 m-auto lg:inline-flex p-8 lg:p-0">
        <div>
          <p class="text-3xl font-normal text-black font-display">
            Multilayered security infrastructure
          </p>
          <p class="text-base mt-4 text-zinc-500">
            Employing a comprehensive security framework comprising multiple
            layers, we fortify your digital presence against potential threats,
            ensuring peace of mind in an ever-evolving digital landscape.
          </p>
          <div class="items-center flex-wrap mt-10 gap-2 flex">
            <a
              title="link to your page"
              aria-label="your label"
              href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/79cd9a14-394e-497d-a62f-ab7f5ab2531b"
              class="rounded-lg px-4 py-2 text-sm font-semibold transition-all flex items-center justify-center text-white bg-gradient-to-b from-accent-500 to-accent-600 hover:to-accent-700 h-10"
              >Buy Brightlight</a
            >
            <a
              title="link to your page"
              aria-label="your label"
              href="/system/overview"
              class="rounded-lg px-4 border py-2 text-sm font-semibold transition-all flex items-center justify-center bg-white text-zinc-500 hover:text-accent-500 h-10 border-zinc-300"
              >See all pages</a
            >
          </div>
        </div>
      </div>
      <div class="order-first hidden lg:block w-full mt-0 relative">
        <img
          class="object-cover lg:absolute object-center w-full mx-auto lg:ml-auto"
          alt="hero"
          src="/assets/phone4.png"
        />
      </div>
    </div>
  </div>
</section>
