<div class="pb-150 relative max-lg:overflow-hidden">
  <div
    class="absolute left-1/2 top-1/2 -translate-y-1/2 w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div class="container relative">
    <div class="mb-12 text-center">
      <p class="section-tagline">Get Started</p>
      <h2 class="mb-8">Design your pixel-perfect website.</h2>
      <p class="max-w-[520px] mx-auto">
        We provide everything you need to create websites. Expand your customer base, save time and money, and increase
        sales.
      </p>
    </div>
  </div>
  <div class="container relative">
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden ">
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>
    <div class="grid grid-cols-12 gap-y-8 md:gap-x-8 items-center ">
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav col-span-12">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
          <div class="grid grid-cols-12 gap-6 items-center">
            <div class="col-span-12 md:col-span-6 1xl:pr-20">
              <h3 class="mb-8 leading-8">Create a complete website with content and images.</h3>
              <p>
                Whether you’re building a site from the ground up or giving an old one a makeover, our tools will
                elevate your process. Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate modi velit
                voluptatum nostrum quae nesciunt assumenda explicabo numquam! Illo, labore quia reiciendis ullam commodi
                sint molestiae maiores facilis voluptatem reprehenderit!
              </p>
            </div>
            <div class="col-span-12 md:col-span-6">
              <ul class="">
                <li
                  class="flex items-center gap-3.5 border border-dashed rounded-lg border-gray-100 dark:border-borderColour-dark p-2.5 mb-5 last:mb-0"
                >
                  <div
                    class="flex items-center justify-center bg-primary-100 dark:bg-dark-300 w-10 h-10 rounded flex-shrink-0"
                  >
                    <i class="fa-solid fa-check text-primary dark:text-primary"></i>
                  </div>

                  <p>Create and launch without any coding required.</p>
                </li>
                <li
                  class="flex items-center gap-3.5 border border-dashed rounded-lg border-gray-100 dark:border-borderColour-dark p-2.5 mb-5 last:mb-0"
                >
                  <div
                    class="flex items-center justify-center bg-primary-100 dark:bg-dark-300 w-10 h-10 rounded flex-shrink-0"
                  >
                    <i class="fa-solid fa-check text-primary dark:text-primary"></i>
                  </div>

                  <p>Get straight to business and boost your sales.</p>
                </li>
                <li
                  class="flex items-center gap-3.5 border border-dashed rounded-lg border-gray-100 dark:border-borderColour-dark p-2.5 mb-5 last:mb-0"
                >
                  <div
                    class="flex items-center justify-center bg-primary-100 dark:bg-dark-300 w-10 h-10 rounded flex-shrink-0"
                  >
                    <i class="fa-solid fa-check text-primary dark:text-primary"></i>
                  </div>

                  <p>We drive rapid growth through digital innovation.</p>
                </li>
                <li
                  class="flex items-center gap-3.5 border border-dashed rounded-lg border-gray-100 dark:border-borderColour-dark p-2.5 mb-5 last:mb-0"
                >
                  <div
                    class="flex items-center justify-center bg-primary-100 dark:bg-dark-300 w-10 h-10 rounded flex-shrink-0"
                  >
                    <i class="fa-solid fa-check text-primary dark:text-primary"></i>
                  </div>

                  <p>We understand the needs of your business.</p>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav col-span-12 sm:col-span-6 ">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
          <div class="mb-6 text-center">
            <h3 class="mb-2.5 leading-8">User-friendly website builder</h3>
            <p class="mb-6">
              Tailor every element of your website with ease. Our intuitive interface empowers you to create a unique
              online presence.
            </p>
          </div>
          <div class="">
            <img
              src="images/ai/getstart-1.png"
              alt="image"
              class="inline-block dark:hidden w-full rounded-lg"
            />
            <img
              src="images/ai/getstart-1-dark.png"
              alt="image"
              class="hidden dark:inline-block w-full rounded-lg"
            />
          </div>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav col-span-12 sm:col-span-6 ">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
          <div class="mb-6 text-center">
            <h3 class="mb-2.5 leading-8">AI-powered content generation</h3>
            <p class="mb-6">
              Generates compelling text and source captivating images, providing you with everything you need in
              minutes.
            </p>
          </div>
          <div class="">
            <img
              src="images/ai/getstart-2.png"
              alt="image"
              class="inline-block dark:hidden w-full rounded-lg"
            />
            <img
              src="images/ai/getstart-2-dark.png"
              alt="image"
              class="hidden dark:inline-block w-full rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
