<section class="bg-white dark:bg-dark-300 pb-150 relative max-md:overflow-hidden max-lg:overflow-hidden">
  <div
    class="absolute left-0 right-0 top-25 bg-[url('../images/service-bg.png')] bg-no-repeat bg-cover bg-center opacity-70 w-full h-full  sm:hidden"
  ></div>
  <div class="container ">
    <div class="mb-12">
      <p class="section-tagline max-lg:text-center">Top Integration</p>
      <div class="block max-lg:text-center lg:flex">
        <h2 class=" max-lg:mb-5">Connect with your preferred tools.</h2>
        <p class="max-w-[520px] mx-auto lg:ml-auto">
          We assist startups in standing out with exceptional messaging that effectively engages their audience.
        </p>
      </div>
    </div>

    <div class="relative z-10">
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex -z-10 max-sm:hidden">
        <div class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 "></div>
        <div
          class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/25 lg:-ml-[170px]"
        ></div>
        <div
          class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 lg-ml-[170px]"
        ></div>
      </div>

      <div class="grid grid-cols-3  max-sm:grid-cols-1 max-lg:grid-cols-2 gap-8">
        <div
          class="bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-8 h-full "
        >
          <img
            src="images/ai/slack.png"
            alt="image"
            class="mb-6"
          />
          <h3 class="mb-2.5">Slack</h3>
          <p class="mb-6">
            Slack is a cloud-based team communication platform developed by Slack Technologies, Slack uses a freemium
            model.
          </p>
        </div>

        <div
          class="bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-8 h-full max-lg:p-5"
        >
          <img
            src="images/ai/shopify.png"
            alt="image"
            class="mb-6"
          />
          <h3 class="mb-2.5">Shopify</h3>
          <p class="mb-6">
            Shopify Inc, a Canadian e-commerce company based in Ottawa, Ontario, offers its proprietary platform for
            online sale systems.
          </p>
        </div>

        <div
          class="bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-8 h-full max-lg:p-5"
        >
          <img
            src="images/ai/snapchat.png"
            alt="image"
            class="mb-6"
          />
          <h3 class="mb-2.5">Snapchat</h3>

          <p class="mb-6">
            Snapchat is an American multimedia instant messaging app and service developed by Snap Inc. originally
            Snapchat Inc.
          </p>
        </div>

        <div
          class="bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-8 h-full max-lg:p-5"
        >
          <img
            src="images/ai/zapier.png"
            alt="image"
            class="mb-6"
          />

          <h3 class="mb-2.5">Zapier</h3>
          <p class="mb-6">
            Zapier is a company that provides integrations for web applications for use in automated workflows.
          </p>
        </div>

        <div
          class="bg-white dark:bg-dark-200 border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-8 h-full max-lg:p-5"
        >
          <img
            src="images/ai/figma.png"
            alt="image"
            class="mb-6"
          />

          <h3 class="mb-2.5">Figma</h3>

          <p class="mb-6">
            Figma is a collaborative web application for interface design, with additional offline features enabled
            macOS and Windows.
          </p>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded border border-dashed border-gray-100 dark:border-borderColour-dark p-8 h-full max-lg:p-5"
        >
          <img
            src="images/ai/tiktok.png"
            alt="image"
            class="mb-6"
          />
          <h3 class="mb-2.5">Tiktok</h3>
          <p class="mb-6">
            A personalized video feed based on what you watch and share. TikTok offers you real, interesting make your
            day.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
