<section class="bg-white dark:bg-dark-300 pb-150 max-md:pb-25 relative max-md:overflow-hidden">
  <div
    class="absolute left-0 right-0 top-25 bg-[url('../images/core-gradient.png')] bg-no-repeat bg-center opacity-70 w-full h-full bg-[length:600px_1000px] md:hidden"
  ></div>
  <div class="container ">
    <div class="mb-12 text-center  mx-auto">
      <p class="section-tagline">How it works</p>

      <h2 class="mb-8">Easy steps, endless possibilities</h2>
      <p>Armed with concepts, we carefully design and refine every detail to align with your vision and goals.</p>
    </div>

    <div class="relative z-10">
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
      </div>
      <div class=" grid grid-cols-3 max-md:grid-cols-1 gap-8">
        <div class="bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5 text-center"
          >
            <div
              class="bg-primary dark:bg-primary/5 shadow-box rounded-full w-20 h-20 flex items-center justify-center mb-6 mx-auto"
            >
              <div
                class="border border-dashed rounded-full border-white dark:border-borderColour-dark flex items-center justify-center w-15 h-15"
              >
                <span class="font-jakarta_sans font-bold text-[36px] leading-normal">1</span>
              </div>
            </div>
            <h3 class="mb-2.5">Sign up for a free account</h3>
            <p>Get started quickly by creating a free is of account with just your email address.</p>
          </div>
        </div>

        <div class="bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5 text-center"
          >
            <div
              class="bg-primary dark:bg-primary/5 shadow-box rounded-full w-20 h-20 flex items-center justify-center mb-6 mx-auto"
            >
              <div
                class="border border-dashed rounded-full border-white dark:border-borderColour-dark flex items-center justify-center w-15 h-15"
              >
                <span class="font-jakarta_sans font-bold text-[36px] leading-normal">2</span>
              </div>
            </div>
            <h3 class="mb-2.5">Personalize and enhance</h3>
            <p>Discover our user-friendly customization tools. Designs, add your personal flair.</p>
          </div>
        </div>

        <div class="bg-white dark:bg-dark-200 shadow-box rounded-medium p-2.5">
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5 text-center"
          >
            <div
              class="bg-primary dark:bg-primary/5 shadow-box rounded-full w-20 h-20 flex items-center justify-center mb-6 mx-auto"
            >
              <div
                class="border border-dashed rounded-full border-white dark:border-borderColour-dark flex items-center justify-center w-15 h-15"
              >
                <span class="font-jakarta_sans font-bold text-[36px] leading-normal">3</span>
              </div>
            </div>
            <h3 class="mb-2.5">Scale your business quickly</h3>
            <p>watching your vision come to life as a stunning digital masterpiece.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
