<section class="py-150 max-md:py-20 relative">
  <div
    class="absolute left-1/2 top-20 w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div class="container relative mb-16">
    <div class="text-center max-w-[550px] mx-auto mb-16">
      <p class="section-tagline">Tips and Tricks</p>
      <h2>Our recent news & insights</h2>
    </div>
    <div class="relative z-10">
      <div class="absolute left-1/2 top-60 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
      </div>
      <div class=" grid grid-cols-3 max-md:grid-cols-1 max-lg:grid-cols-2 gap-8">
        <article
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
            <img
              src="images/blog/blog1.png"
              alt="image"
              class="mb-6 w-full rounded-md"
            />
            <div>
              <a
                href="blog-details.html"
                class="badge"
              >
                Marketing
              </a>
              <a href="blog-details.html">
                <h3 class="mb-3 font-semibold leading-[1.33]">A digital prescription for the banking industry</h3>
              </a>
              <div class="flex gap-x-2 items-center mb-4 ">
                <p>Kristin Watson</p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="6"
                    viewBox="0 0 5 6"
                    fill="none"
                  >
                    <circle
                      cx="2.5"
                      cy="3"
                      r="2.5"
                      fill=""
                      class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                    />
                  </svg>
                </span>
                <p>Aug 30, 2023</p>
              </div>
              <p>Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.</p>
            </div>
          </div>
        </article>
        <article
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
            <img
              src="images/blog/blog2.png"
              alt="image"
              class="mb-6 w-full rounded-md"
            />
            <div>
              <a
                href="blog-details.html"
                class="badge"
              >
                banking
              </a>
              <a href="blog-details.html">
                <h3 class="mb-3 font-semibold leading-[1.33]">Manage your online banking & get rewarded</h3>
              </a>
              <div class="flex gap-x-2 items-center mb-4 ">
                <p>Kristin Watson</p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="6"
                    viewBox="0 0 5 6"
                    fill="none"
                  >
                    <circle
                      cx="2.5"
                      cy="3"
                      r="2.5"
                      fill=""
                      class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                    />
                  </svg>
                </span>
                <p>Aug 30, 2023</p>
              </div>
              <p>Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.</p>
            </div>
          </div>
        </article>
        <article
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
            <img
              src="images/blog/blog3.png"
              alt="image"
              class="mb-6 w-full rounded-md"
            />
            <div>
              <a
                href="blog-details.html"
                class="badge"
              >
                Payment
              </a>
              <a href="blog-details.html">
                <h3 class="mb-3 font-semibold leading-[1.33]">We’ve been perfecting the art of running</h3>
              </a>
              <div class="flex gap-x-2 items-center mb-4 ">
                <p>Kristin Watson</p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="6"
                    viewBox="0 0 5 6"
                    fill="none"
                  >
                    <circle
                      cx="2.5"
                      cy="3"
                      r="2.5"
                      fill=""
                      class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                    />
                  </svg>
                </span>
                <p>Aug 30, 2023</p>
              </div>
              <p>Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.</p>
            </div>
          </div>
        </article>
        <article
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
            <img
              src="images/blog/blog4.png"
              alt="image"
              class="mb-6 w-full rounded-md"
            />
            <div>
              <a
                href="blog-details.html"
                class="badge"
              >
                Digital
              </a>
              <a href="blog-details.html">
                <h3 class="mb-3 font-semibold leading-[1.33]">How to keep the enthusiasm till the end of a project</h3>
              </a>
              <div class="flex gap-x-2 items-center mb-4 ">
                <p>Kristin Watson</p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="6"
                    viewBox="0 0 5 6"
                    fill="none"
                  >
                    <circle
                      cx="2.5"
                      cy="3"
                      r="2.5"
                      fill=""
                      class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                    />
                  </svg>
                </span>
                <p>Aug 30, 2023</p>
              </div>
              <p>Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.</p>
            </div>
          </div>
        </article>
        <article
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
            <img
              src="images/blog/blog5.png"
              alt="image"
              class="mb-6 w-full rounded-md"
            />
            <div>
              <a
                href="blog-details.html"
                class="badge"
              >
                Account
              </a>
              <a href="blog-details.html">
                <h3 class="mb-3 font-semibold leading-[1.33]">The principle of accounting for all registers</h3>
              </a>
              <div class="flex gap-x-2 items-center mb-4 ">
                <p>Kristin Watson</p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="6"
                    viewBox="0 0 5 6"
                    fill="none"
                  >
                    <circle
                      cx="2.5"
                      cy="3"
                      r="2.5"
                      fill=""
                      class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                    />
                  </svg>
                </span>
                <p>Aug 30, 2023</p>
              </div>
              <p>Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.</p>
            </div>
          </div>
        </article>
        <article
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-6 max-md:p-4">
            <img
              src="images/blog/blog3.png"
              alt="image"
              class="mb-6 w-full rounded-md"
            />
            <div>
              <a
                href="blog-details.html"
                class="badge"
              >
                Research
              </a>
              <a href="blog-details.html">
                <h3 class="mb-3 font-semibold leading-[1.33]">Documents required for business analysis</h3>
              </a>
              <div class="flex gap-x-2 items-center mb-4 ">
                <p>Kristin Watson</p>
                <span>
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="5"
                    height="6"
                    viewBox="0 0 5 6"
                    fill="none"
                  >
                    <circle
                      cx="2.5"
                      cy="3"
                      r="2.5"
                      fill=""
                      class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
                    />
                  </svg>
                </span>
                <p>Aug 30, 2023</p>
              </div>
              <p>Turpis tortor nunc sed amet et faucibus vitae morbi congue sed id mauris.</p>
            </div>
          </div>
        </article>
      </div>
    </div>
  </div>
  <div class="container">
    <ul class="flex items-center justify-center gap-2">
      <li class="group">
        <a
          href="blog-details.html"
          class="flex w-10 h-10 items-center justify-center border border-borderColour dark:border-borderColour-dark rounded-full hover:bg-primary duration-300  text-sm font-medium group"
        >
          <i class="fa-solid fa-arrow-left dark:group-hover:text-paragraph duration-300"></i>
        </a>
      </li>
      <li class="group page-active">
        <a
          href="blog-details.html"
          class="flex w-10 h-10 items-center text-sm font-medium justify-center rounded-full hover:bg-primary duration-300  hover:text-paragraph group-[.page-active]:bg-primary dark:group-[.page-active]:text-paragraph"
        >
          1
        </a>
      </li>
      <li class="group">
        <a
          href="blog-details.html"
          class="flex w-10 h-10 items-center text-sm font-medium justify-center rounded-full hover:bg-primary duration-300  hover:text-paragraph group-[.page-active]::bg-primary"
        >
          2
        </a>
      </li>
      <li class="group">
        <a
          href="blog-details.html"
          class="flex w-10 h-10 items-center text-sm font-medium justify-center rounded-full hover:bg-primary duration-300  hover:text-paragraph group-[.page-active]::bg-primary"
        >
          3
        </a>
      </li>
      <li class="group max-md:hidden">
        <a
          href="blog-details.html"
          class="flex w-10 h-10 items-center text-sm font-medium justify-center rounded-full hover:bg-primary duration-300  hover:text-paragraph group-[.page-active]::bg-primary "
        >
          4
        </a>
      </li>
      <li class="group max-md:hidden">
        <a
          href="blog-details.html"
          class="flex w-10 h-10 items-center text-sm font-medium justify-center rounded-full hover:bg-primary duration-300  hover:text-paragraph group-[.page-active]::bg-primary"
        >
          5
        </a>
      </li>
      <li class="group">
        <a
          href="blog-details.html"
          class="flex w-10 h-10 items-center justify-center border border-borderColour dark:border-borderColour-dark rounded-full hover:bg-primary duration-300  text-sm font-medium group"
        >
          <i class="fa-solid fa-arrow-right dark:group-hover:text-paragraph duration-300"></i>
        </a>
      </li>
    </ul>
  </div>
</section>
