<article class="pb-150 relative">
  <div
    class="absolute left-1/2 -top-[250px] w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div class="container relative ">
    <div
      class="absolute left-1/2 top-20 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col max-md:-translate-y-0 -z-10 max-md:hidden"
    >
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px] 1xl:w-[442px] 1xl:h-[442px] rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>

    <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box mb-16 max-md:h-[400px]">
      <img
        src="images/blog/blogDetails.png"
        alt="about images"
        class="rounded w-full  max-md:object-cover max-md:object-center max-md:h-full"
      />
    </div>
    <div class="blog-details">
      <h2>Planning your online business goals with a specials</h2>
      <div class="flex gap-x-2 items-center mb-12 ">
        <p>Kristin Watson</p>
        <span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="5"
            height="6"
            viewBox="0 0 5 6"
            fill="none"
          >
            <circle
              cx="2.5"
              cy="3"
              r="2.5"
              fill=""
              class="fill-[#D8DBD0] dark:fill-[#3B3C39]"
            />
          </svg>
        </span>
        <p>Aug 30, 2023</p>
      </div>
    </div>
    <div class="blog-details-body">
      <p>
        Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu. Adipiscing viverra vulputate
        curabitur est. <br />
        <br />
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae suspendisse sed accumsan.
        Sodales morbi tristique elit cursus gravida. Ullamcorper commodo eget pulvinar pretium. Condimentum rhoncus
        commodo amet nec auctor nibh vel mi blandit.
        <br />
        <br />
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor in rhoncus magna
        augue adipiscing.
      </p>
      <h3>Work harder & gain success</h3>
      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae suspendisse sed accumsan.
        Sodales morbi tristique elit cursus gravida. Ullamcorper commodo eget pulvinar pretium. Condimentum rhoncus
        commodo amet nec auctor nibh vel mi blandit.
        <br />
        <br />
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor in rhoncus magna
        augue adipiscing.
      </p>
      <ul>
        <li>Manage your time so you’ll get more done in less time</li>
        <li>Cut expenses without sacrificing quality</li>
        <li>Attract and retain quality, high-paying customers</li>
      </ul>
    </div>

    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-8">
      <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box ">
        <img
          src="images/blog/blogDetails1.png"
          alt="about images"
          class="rounded w-full"
        />
      </div>
      <div class="p-2.5 bg-white dark:bg-dark-200 rounded-medium overflow-hidden shadow-box">
        <img
          src="images/blog/blogDetails2.png"
          alt="about images"
          class="rounded w-full"
        />
      </div>
    </div>

    <div class="blog-details-body">
      <h3>Manage your online banking</h3>
      <p>
        Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae suspendisse sed accumsan.
        Sodales morbi tristique elit cursus gravida. Ullamcorper commodo eget pulvinar pretium. Condimentum rhoncus
        commodo amet nec auctor nibh vel mi blandit.
        <br />
        <br />
        Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor in rhoncus magna
        augue adipiscing.
      </p>
      <ul>
        <li>Manage your time so you’ll get more done in less time</li>
        <li>Cut expenses without sacrificing quality</li>
        <li>Attract and retain quality, high-paying customers</li>
      </ul>
    </div>
  </div>
</article>
