<section class=" relative pt-150 pb-25 max-md:pb-20">
  <div class="container relative z-10">
    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-10 1xl:gap-x-24">
      <div class="relative">
        <p class="section-tagline">Customer service approach</p>

        <h2 class="mb-8">Data-driven insights for better decision-making.</h2>
        <p class="mb-11">
          Monitor chatbot performance with detailed analytics and reports. Provide live chat support to your customers.
        </p>
        <ul class="mb-14 [&>*:not(:last-child)]:mb-5 max-w-[490px]">
          <li
            class="flex items-center gap-x-2 border border-dashed border-gray-100 rounded dark:border-borderColour-dark p-2.5"
          >
            <span class=" relative w-10 h-10 rounded-full bg-[#F3F8E8] dark:bg-dark-200 shadow-icon  gap-6">
              <i class="fa-solid fa-check absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-primary"></i>
            </span>
            <span class="font-semibold font-jakarta_sans"> Scalable Systems </span>
          </li>
          <li
            class="flex items-center gap-x-2 border border-dashed border-gray-100 rounded dark:border-borderColour-dark p-2.5"
          >
            <span class=" relative w-10 h-10 rounded-full bg-[#F3F8E8] dark:bg-dark-200 shadow-icon  gap-6">
              <i class="fa-solid fa-check absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-primary"></i>
            </span>
            <span class="font-semibold font-jakarta_sans"> Adaptable Technologies </span>
          </li>
          <li
            class="flex items-center gap-x-2 border border-dashed border-gray-100 rounded dark:border-borderColour-dark p-2.5"
          >
            <span class=" relative w-10 h-10 rounded-full bg-[#F3F8E8] dark:bg-dark-200 shadow-icon  gap-6">
              <i class="fa-solid fa-check absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 text-primary"></i>
            </span>
            <span class="font-semibold font-jakarta_sans"> Versatile Tools </span>
          </li>
        </ul>
        <a
          href="contact.html"
          class="btn"
        >
          Get Started
        </a>
      </div>

      <div class="relative flex max-md:justify-center justify-end items-center aspect-square">
        <img
          src="images/chatbot/chatbot-approach.png"
          alt="company image"
          class="dark:hidden"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-once="true"
        />
        <img
          src="images/chatbot/chatbot-approach-dark.png"
          alt="company image"
          class="hidden dark:inline-block"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-once="true"
        />
        <div class="absolute w-full left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10">
          <div class="w-full h-[442px]  rounded-full bg-primary-200/25 blur-[145px]"></div>
        </div>
      </div>
    </div>
  </div>
</section>
