<section class="relative max-md:pt-15 pt-[200px] overflow-x-hidden">
  <div class="container relative z-10">
    <div class="grid grid-cols-2 max-md:grid-cols-1 gap-25 1xl:gap-x-24">
      <div class="relative  py-10 ">
        <p class="section-tagline">Live chat</p>

        <h2 class="mb-8">Instant chat for outstanding customer experiences.</h2>
        <p class="mb-12">
          Provide live chat support to your customers. Our chatbot effortlessly hands off to human agents when
          necessary.
        </p>

        <a
          href="contact.html"
          class="btn"
        >
          Discover more
        </a>
      </div>
      <div class="relative">
        <div
          class="max-lg:w-full lg:w-[420px] lg:h-[500px]"
          data-aos="fade-left"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <img
            src="images/chatbot/chatbot-chat.png"
            alt="explore"
            class="rounded-medium dark:hidden"
          />
          <img
            src="images/chatbot/chatbot-chat-dark.png"
            alt="explore"
            class="rounded-medium hidden dark:inline-block"
          />
        </div>

        <div
          class="rounded-medium absolute max-lg:-right-12 max-lg:max-w-[275px] max-lg:-top-20 lg:-top-[170px] lg:right-0"
          data-aos="fade-left"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <img
            src="images/chatbot/chatbot-chat-summery.png"
            alt="summery"
            class=" dark:hidden w-full"
          />
          <img
            src="images/chatbot/chatbot-chat-summery-dark.png"
            alt="summery"
            class="hidden dark:inline-block w-full"
          />
        </div>
        <div
          class="rounded-medium absolute max-xs:top-[110px] max-lg:-right-12 max-lg:max-w-[275px] max-lg:top-[80px] lg:top-[280px] lg:right-0"
          data-aos="fade-left"
          data-aos-offset="200"
          data-aos-delay="100"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <img
            src="images/chatbot/chatbot-chat-payment.png"
            alt="summery"
            class="dark:hidden w-full"
          />
          <img
            src="images/chatbot/chatbot-chat-payment-dark.png"
            alt="summery"
            class="hidden dark:inline-block w-full"
          />
        </div>
        <div
          class="rounded-medium absolute max-xs:top-[220px] max-lg:-right-12 max-lg:max-w-[275px] max-lg:top-[220px] lg:top-[75px] lg:right-0"
          data-aos="fade-left"
          data-aos-offset="200"
          data-aos-delay="200"
          data-aos-duration="1000"
          data-aos-once="true"
        >
          <img
            src="images/chatbot/chatbot-chat-expense.png"
            alt="summery"
            class="dark:hidden w-full"
          />
          <img
            src="images/chatbot/chatbot-chat-expense-dark.png"
            alt="summery"
            class="w-full hidden dark:inline-block"
          />
        </div>
      </div>
    </div>
  </div>
</section>
