<section class="bg-white dark:bg-dark-300 relative pb-20">
  <div class="container">
    <div class="text-center max-w-[550px] mx-auto mb-16">
      <p class="section-tagline">Get started</p>
      <h2 class="mb-10">Streamline sales and support with chatbots.</h2>
      <p class="mb-15">
        Unlock unparalleled benefits for your business with our services. Reach more customers, save time and money.
      </p>
    </div>
    <div class="grid grid-cols-3 max-md:grid-cols-1 gap-8">
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 h-full">
          <img
            src="images/chatbot/chatbot-feature-1.png"
            alt="image"
            class="inline-block dark:hidden mb-10 rounded w-full"
          />
          <img
            src="images/chatbot/chatbot-feature-1-dark.png"
            alt="image"
            class="hidden dark:inline-block mb-10 rounded w-full"
          />
          <h3 class="mb-2.5 leading-8">Sales Automation</h3>
          <p>Chatbots can engage website visitors, qualify leads, and capture contact information.</p>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5  shadow-nav">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 h-full">
          <img
            src="images/chatbot/chatbot-feature-2.png"
            alt="image"
            class="inline-block dark:hidden mb-10 rounded w-full"
          />
          <img
            src="images/chatbot/chatbot-feature-2-dark.png"
            alt="image"
            class="hidden dark:inline-block mb-10 rounded w-full"
          />
          <h3 class="mb-2.5 leading-8">AI- Powered Service</h3>
          <p>
            AI-powered services utilize artificial intelligence to perform tasks that typically require human
            intelligence.
          </p>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5  shadow-nav">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 h-full">
          <img
            src="images/chatbot/chatbot-feature-3.png"
            alt="image"
            class="inline-block dark:hidden mb-10 rounded w-full"
          />
          <img
            src="images/chatbot/chatbot-feature-3-dark.png"
            alt="image"
            class="hidden dark:inline-block mb-10 rounded w-full"
          />
          <h3 class="mb-2.5 leading-8">Simple Plug and play</h3>
          <p>
            Refers to a simple and user-friendly setup process where a device or software can connected or installed.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
