<section class="bg-white dark:bg-dark-300  pt-150 max-md:pb-20">
  <div class="container relative z-10">
    <div class="text-center max-w-[620px] mx-auto mb-10">
      <p class="section-tagline">Top Integration</p>

      <h2 class="mb-8">Make productivity easier with 50+ Integrations</h2>
      <p class="mb-10">
        Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin though it
        looks like nothing.
      </p>

      <a
        href="contact.html"
        class="btn-outline"
      >
        Start Your Journey
      </a>
    </div>
  </div>
  <div class="integration-slider relative overflow-hidden">
    <div class="integration-slider-shape"></div>
    <div
      class="container swiper "
      id="integration"
    >
      <div class="swiper-wrapper flex items-center">
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/figma.svg"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/dropbox.svg"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/twitter.svg"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/slack.svg"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/google-drive.svg"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/asana.svg"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/svelte.png"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/notion.png"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/snapchat.svg"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
        <div class="swiper-slide flex items-center aspect-square group">
          <div
            class="bg-white dark:bg-dark-200 shadow-box  p-2.5 w-20 aspect-square rounded-full mx-auto scale-100 origin-center group-[.swiper-slide-active]:scale-150  group-[.swiper-slide-active]:transition-transform group-[.swiper-slide-active]:duration-500 transition-transform duration-500"
          >
            <div
              class="flex items-center justify-center border border-dashed  border-gray-100 dark:border-borderColour-dark text-center aspect-square rounded-full "
            >
              <img
                src="images/reddit.png"
                alt="value image"
                class="inline-block w-8 h-8"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
