<section class="client @@spacing max-lg:py-20 ">
  <div class="container overflow-hidden max-lg:!px-0">
    <div class=" text-center max-w-[550px] px-10px mx-auto max-lg:px-2.5">
      <p class="text-light mb-15">Trusted by thousands of companies across 50+ countries</p>
    </div>
    <div
      class="relative after:absolute before:absolute after:w-[120px] after:h-[40px] after:bg-gradient-to-r after:from-white after:from-[37.5%]  after:top-1/2 after:-translate-y-1/2 after:-left-0.5 after:z-10 before:w-[120px] before:h-[40px] before:bg-gradient-to-l before:from-white before:from-[37.5%] before:-right-0.5  before:top-1/2 before:-translate-y-1/2  before:z-10 dark:after:from-dark-gradient dark:before:from-dark-gradient"
    >
      <div class="absolute left-0 -top-[1px] w-full  max-lg:hidden pb-10">
        <img
          src="images/clients/client-border.svg"
          alt="border"
          class="inline-block dark:hidden"
        />
        <img
          src="images/clients/client-border-dark.svg"
          alt="border"
          class="hidden dark:inline-block"
        />
      </div>
      <div class="marquee marquee-items">
        <div
          class="marquee-content flex items-center justify-between py-8 "
          id="clients"
        >
          <div class="marquee-content-list">
            <img
              src="images/clients/group.svg"
              alt="group"
              class="inline-block dark:hidden"
            />
            <img
              src="images/clients/group-dark.svg"
              alt="group"
              class="hidden dark:inline-block"
            />
          </div>
          <div class="marquee-content-list ">
            <img
              src="images/clients/infinity.svg"
              alt="infinity"
              class="inline-block dark:hidden"
            />
            <img
              src="images/clients/infinity-dark.svg"
              alt="infinity"
              class="hidden dark:inline-block"
            />
          </div>
          <div class="marquee-content-list ">
            <img
              src="images//clients/artifact.svg"
              alt="artifact"
              class="inline-block dark:hidden"
            />
            <img
              src="images/clients/artifact-dark.svg"
              alt="caudile"
              class="hidden dark:inline-block"
            />
          </div>
          <div class="marquee-content-list ">
            <img
              src="images/clients/caudile.svg"
              alt="caudile"
              class="inline-block dark:hidden"
            />
            <img
              src="images/clients/caudile-dark.svg"
              alt="caudile"
              class="hidden dark:inline-block"
            />
          </div>
          <div class="marquee-content-list ">
            <img
              src="images/clients/axeptio.svg"
              alt="axeptio"
              class="inline-block dark:hidden"
            />
            <img
              src="images/clients/axeptio-dark.svg"
              alt="axeptio"
              class="hidden dark:inline-block"
            />
          </div>
          <div class="marquee-content-list ">
            <img
              src="images/clients/mfinity.svg"
              alt="mfinity"
              class="inline-block dark:hidden"
            />
            <img
              src="images/clients/mfinity-dark.svg"
              alt="mfinity"
              class="hidden dark:inline-block"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
