<section class="bg-white pb-150 dark:bg-dark-300">
  <div class="container">
    <div class="grid grid-cols-12 max-md:gap-y-8 md:gap-8 items-start">
      <div class="col-span-12 lg:col-span-4  lg:top-150 lg:sticky">
        <divt class="max-lg:mb-20">
          <p class="section-tagline">What we offer</p>

          <h2 class="mb-8">Timeline</h2>
          <p class="lg:max-w-[520px]">
            With concepts in hand, we meticulously design, refining every detail to align with your vision and
            objectives.
          </p>
        </divt>
      </div>
      <div class="col-span-12 lg:col-span-8 lg:pl-15">
        <div class="relative z-10">
          <div class="absolute right-20 top-1/2 -translate-y-1/2 flex flex-col -z-10 max-sm:hidden">
            <div
              class="w-[330px] h-[330px] xl:w-[350px] xl:h-[350px] blur-[145px] rounded-full bg-primary-200/20"
            ></div>
            <div
              class="w-[330px] h-[330px] xl:w-[350px] xl:h-[350px] blur-[145px] rounded-full bg-primary-200/20"
            ></div>
          </div>

          <div class="relative">
            <ul class="stack-cards js-stack-cards">
              <li class="stack-cards--item js-stack-cards--item">
                <div class="flex gap-2.5 md:gap-5 lg:gap-20 items-center">
                  <div class="flex item-center justify-center relative shrink-0">
                    <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 max-xs:p-2 shadow-nav relative">
                      <div
                        class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-xs:p-2 max-1xl:p-5 1xl:p-10"
                      >
                        <h3 class="max-md:text-base">2008-2010</h3>
                      </div>
                    </div>
                    <img
                      src="/images/crypto/line.png"
                      alt="line"
                      class="absolute max-w-[none] top-1/2 -translate-y-1/2 -z-10 right-[-200px] "
                    />
                  </div>

                  <div
                    class="bg-white dark:bg-dark-200 rounded-medium p-2.5 max-xs:p-2 shadow-nav w-[300px] 1xl:w-[400px]"
                  >
                    <div
                      class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-xs:p-2 p-5 1xl:p-8 h-full flex justify-center flex-col"
                    >
                      <h3 class="mb-3 leading-8">The Early Days</h3>

                      <ul class="lg:list-disc">
                        <li class="mb-2.5 last:mb-0">
                          <strong>2008</strong>: An anonymous individual or group under the currency.
                        </li>
                        <li class="mb-2.5 last:mb-0">
                          <strong>2009</strong>: Bitcoin is launched by Nakamoto with the Block.
                        </li>
                        <li class="mb-2.5 last:mb-0">
                          <strong>2010</strong>: The first recorded Bitcoin transaction occurs pizzas.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="stack-cards--item js-stack-cards--item">
                <div class="flex gap-2.5 md:gap-5 lg:gap-20 items-center">
                  <div class="flex item-center justify-center relative shrink-0">
                    <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 max-xs:p-2 shadow-nav relative">
                      <div
                        class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-xs:p-2 max-1xl:p-5 1xl:p-10"
                      >
                        <h3 class="max-md:text-base">2011-2013</h3>
                      </div>
                    </div>
                    <img
                      src="/images/crypto/line.png"
                      alt="line"
                      class="absolute max-w-[none] top-1/2 -translate-y-1/2 -z-10 right-[-200px] "
                    />
                  </div>
                  <div
                    class="bg-white dark:bg-dark-200 rounded-medium max-xs:p-2 p-2.5 shadow-nav w-[300px] 1xl:w-[400px]"
                  >
                    <div
                      class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-xs:p-2 p-5 1xl:p-8 h-full flex justify-center flex-col"
                    >
                      <h3 class="mb-3 leading-8">Growth and Development</h3>

                      <ul class="lg:list-disc">
                        <li class="mb-2.5 last:mb-0">
                          <strong>2011</strong>: Bitcoin's first significant price surge occurs.
                        </li>
                        <li class="mb-2.5 last:mb-0"><strong>2012</strong>: The first Bitcoin halving event occurs.</li>
                        <li class="mb-2.5 last:mb-0">
                          <strong>2013</strong>: Bitcoin reaches $1,000 for the first time.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="stack-cards--item js-stack-cards--item">
                <div class="flex gap-2.5 md:gap-5 lg:gap-20 items-center ">
                  <div class="flex item-center justify-center relative shrink-0">
                    <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 max-xs:p-2 shadow-nav relative">
                      <div
                        class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-xs:p-2 max-1xl:p-5 1xl:p-10"
                      >
                        <h3 class="max-md:text-base">2014-2016</h3>
                      </div>
                    </div>
                    <img
                      src="/images/crypto/line.png"
                      alt="line"
                      class="absolute max-w-[none] top-1/2 -translate-y-1/2 -z-10 right-[-200px] "
                    />
                  </div>
                  <div
                    class="bg-white dark:bg-dark-200 rounded-medium max-xs:p-2 p-2.5 shadow-nav w-[300px] 1xl:w-[400px]"
                  >
                    <div
                      class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-xs:p-2 p-5 1xl:p-8 h-full flex justify-center flex-col"
                    >
                      <h3 class="mb-3 leading-8">Expansion Recognition</h3>

                      <ul class="lg:list-disc">
                        <li class="mb-2.5 last:mb-0">
                          <strong>2014</strong>: The Mt. Gox exchange, once the largest Bitcoin exchange.
                        </li>
                        <li class="mb-2.5 last:mb-0">
                          <strong>2015</strong>: Ethereum a new blockchain functionality.
                        </li>
                        <li class="mb-2.5 last:mb-0">
                          <strong>2016</strong>: The second Bitcoin halving reduces Ethereum Classic.
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
