<div class="pb-150 relative">
  <div
    class="absolute left-1/2 -top-[300px] w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div class="container relative">
    <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden ">
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
      <div
        class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
      ></div>
    </div>
    <div class="grid grid-cols-12 gap-8 items-center ">
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav col-span-12">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
          <div class="grid grid-cols-12 gap-6 ">
            <div class="col-span-12 md:col-span-6 1xl:col-span-7 1xl:pr-20">
              <h3 class="mb-8 leading-8">Cryptocurrency Market</h3>
              <p class="mb-8">
                he concept of cryptocurrency is born when an anonymous individual or group known as Satoshi Nakamoto
                publishes the Bitcoin whitepaper titled "Bitcoin: A Peer to Peer Electronic Cash System."
              </p>
              <a
                href="services.html"
                class="btn btn-sm"
              >
                Read More
              </a>
            </div>
            <div class="col-span-12 md:col-span-6 1xl:col-span-5">
              <img
                src="images/crypto/crypto-market-1.png"
                alt="image"
                class="inline-block dark:hidden w-full rounded-lg"
              />
              <img
                src="images/crypto/crypto-market-1-dark.png"
                alt="image"
                class="hidden dark:inline-block w-full rounded-lg"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav col-span-12 lg:col-span-4">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
          <div class="mb-6">
            <h3 class="mb-2.5 leading-8">Bitcoin source</h3>
            <p class="mb-6">
              Bitcoin was created by an unknown person or group of people using the pseudonym Satoshi Nakamoto.
            </p>
            <a
              href="services.html"
              class="btn-sm btn-outline "
            >
              Read More
            </a>
          </div>
          <div class="">
            <img
              src="images/crypto/crypto-market-2.png"
              alt="image"
              class="inline-block dark:hidden w-full rounded-lg"
            />
            <img
              src="images/crypto/crypto-market-2-dark.png"
              alt="image"
              class="hidden dark:inline-block w-full rounded-lg"
            />
          </div>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav col-span-12 sm:col-span-6 lg:col-span-4">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
          <div class="mb-6">
            <img
              src="images/crypto/crypto-market-3.png"
              alt="image"
              class="inline-block dark:hidden w-full rounded-lg"
            />
            <img
              src="images/crypto/crypto-market-3-dark.png"
              alt="image"
              class="hidden dark:inline-block w-full rounded-lg"
            />
          </div>
          <div class="">
            <h3 class="mb-2.5 leading-8">Cryptocurrencies</h3>
            <p class="mb-6">Cryptocurrencies are digital or virtual currencies that use cryptography for security.</p>
            <a
              href="services.html"
              class="btn-sm btn-outline "
            >
              Read More
            </a>
          </div>
        </div>
      </div>
      <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav col-span-12 sm:col-span-6 lg:col-span-4">
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
          <div class="mb-8">
            <h3 class="mb-2.5 leading-8">Market charts</h3>
            <p class="mb-6">
              Market charts are representations of data that track the performance of financial or commodities over
              time.
            </p>
            <a
              href="services.html"
              class="btn-sm btn-outline "
            >
              Read More
            </a>
          </div>
          <div class="">
            <img
              src="images/crypto/crypto-market-4.png"
              alt="image"
              class="inline-block dark:hidden w-full rounded-lg"
            />
            <img
              src="images/crypto/crypto-market-4-dark.png"
              alt="image"
              class="hidden dark:inline-block w-full rounded-lg"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
