<section class="relative pb-150">
  <div class="container">
    <div class="grid grid-cols-3 max-md:grid-cols-1 gap-8">
      <div
        class="bg-white dark:bg-dark-200 rounded-medium shadow-nav relative max-lg:p-5 p-8  border border-solid border-transparent "
      >
        <img
          src="images/analytics/data1.png"
          alt="image"
          class="inline-block dark:hidden mb-10 rounded w-full"
        />
        <img
          src="images/analytics/data1-dark.png"
          alt="image"
          class="hidden dark:inline-block mb-10 rounded w-full"
        />
        <h3 class="mb-2.5 leading-8">
          Manage Project <br />
          Finances
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectur suspen ultricies aenean viverra sodales vulputate nis tellus nibh
          tristique sit felis.
        </p>
      </div>
      <div
        class="bg-white dark:bg-dark-200 rounded-medium shadow-nav relative max-lg:p-5 p-8  border border-solid border-transparent "
      >
        <img
          src="images/analytics/data2.png"
          alt="image"
          class="inline-block dark:hidden mb-10 rounded w-full"
        />
        <img
          src="images/analytics/data2-dark.png"
          alt="image"
          class="hidden dark:inline-block mb-10 rounded w-full"
        />
        <h3 class="mb-2.5 leading-8">
          Streamlined Data <br />
          Processes
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectur suspen ultricies aenean viverra sodales vulputate nis tellus nibh
          tristique sit felis.
        </p>
      </div>
      <div
        class="bg-white dark:bg-dark-200 rounded-medium shadow-nav relative max-lg:p-5 p-8  border border-solid border-transparent "
      >
        <img
          src="images/analytics/data3.png"
          alt="image"
          class="inline-block dark:hidden mb-10 rounded w-full"
        />
        <img
          src="images/analytics/data3-dark.png"
          alt="image"
          class="hidden dark:inline-block mb-10 rounded w-full"
        />
        <h3 class="mb-2.5 leading-8">
          Understand User <br />
          Behavior
        </h3>
        <p>
          Lorem ipsum dolor sit amet consectur suspen ultricies aenean viverra sodales vulputate nis tellus nibh
          tristique sit felis.
        </p>
      </div>
    </div>
  </div>
</section>
