<section class="hero  overflow-hidden relative max-lg:pt-150 pt-[240px] pb-[60px] z-40">
  <div class="container">
    <div
      class="max-w-[948px] mx-auto text-center"
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-duration="1000"
      data-aos-once="true"
    >
      <p class="mb-4 font-medium uppercase">@@subtitle</p>
      <h1 class="max-lg:mb-10 mb-10">@@title</h1>
      <p class="max-lg:mb-10 mb-12 max-w-[590px] mx-auto">@@paragraph</p>
    </div>
  </div>
</section>
