<section class="bg-white dark:bg-dark-300 pb-150 relative sm:overflow-hidden">
  <div
    class="absolute left-0 right-0 top-25 bg-[url('../images/service-bg.png')] bg-no-repeat bg-cover bg-center opacity-70 w-full h-full  sm:hidden"
  ></div>
  <div class="container ">
    <div class="mb-12">
      <p class="section-tagline max-lg:text-center">Our Services</p>
      <div class="block max-lg:text-center lg:flex">
        <h2 class=" max-lg:mb-5">
          The world's best companies <br />
          trust aplio.
        </h2>
        <p class="max-w-[520px] mx-auto lg:ml-auto">
          Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin, though it
          looks like it
        </p>
      </div>
    </div>

    <div class="relative z-10">
      <div class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 flex -z-10 max-sm:hidden">
        <div class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 "></div>
        <div
          class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/25 lg:-ml-[170px]"
        ></div>
        <div
          class="w-[330px] h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 lg-ml-[170px]"
        ></div>
      </div>

      <div class="grid grid-cols-3  max-sm:grid-cols-1 max-lg:grid-cols-2 gap-8">
        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark max-lg:p-5 p-10 ">
            <img
              src="images/services/investment.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/services/investment-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="services-single.html"
              class="block"
            >
              <h3 class="mb-2.5">Investment Banks</h3>
            </a>
            <p class="mb-6">Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.</p>
            <a
              href="services-single.html"
              class="btn-outline btn-sm"
            >
              Read More
            </a>
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative  scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5"
          >
            <img
              src="images/services/sales.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/services/sales-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="services-single.html"
              class="block"
            >
              <h3 class="mb-2.5">Sales & Trading</h3>
            </a>
            <p class="mb-6">Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.</p>
            <a
              href="services-single.html"
              class="btn-outline btn-sm"
            >
              Read More
            </a>
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative  scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5"
          >
            <img
              src="images/services/loan.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/services/loan-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="services-single.html"
              class="block"
            >
              <h3 class="mb-2.5">Mortgage Loans</h3>
            </a>
            <p class="mb-6">Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.</p>
            <a
              href="services-single.html"
              class="btn-outline btn-sm"
              >Read More</a
            >
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative  scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5"
          >
            <img
              src="images/services/finance.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/services/finance-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="services-single.html"
              class="block"
            >
              <h3 class="mb-2.5">Finance Analysis</h3>
            </a>
            <p class="mb-6">Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.</p>
            <a
              href="services-single.html"
              class="btn-outline btn-sm"
              >Read More</a
            >
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative  scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5"
          >
            <img
              src="images/services/effeciency.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/services/effeciency-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="services-single.html"
              class="block"
            >
              <h3 class="mb-2.5">Increased Efficiency</h3>
            </a>
            <p class="mb-6">Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.</p>
            <a
              href="services-single.html"
              class="btn-outline btn-sm"
              >Read More</a
            >
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative  scale-100 hover:scale-105 transition-transform duration-500 hover:transition-transform hover:duration-500"
        >
          <div
            class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-10 h-full max-lg:p-5"
          >
            <img
              src="images/services/fund.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/services/fund-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <a
              href="services-single.html"
              class="block"
            >
              <h3 class="mb-2.5">Fundraising Advice</h3>
            </a>
            <p class="mb-6">Until recently, the prevailing view asumed lorem ipsum was born as nonsense text.</p>
            <a
              href="services-single.html"
              class="btn-outline btn-sm"
            >
              Read More
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
