<section class=" pt-[200px] pb-150 max-md:pt-25 relative max-md:overflow-hidden max-md:pb-20">
  <div
    class="absolute left-0 right-0 -top-8 bg-[url('../images/service-bg.png')] bg-no-repeat bg-cover bg-center opacity-70 w-full h-full sm:hidden"
  ></div>
  <div class="container relative z-10">
    <div class="absolute left-1/2 top-52 -translate-x-1/2 flex max-md:flex-col -z-10 max-md:hidden">
      <div
        class="lg:w-[330px] lg:h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 "
      ></div>
      <div
        class="lg:w-[330px] lg:h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/25 lg:-ml-[170px]"
      ></div>
      <div
        class="lg:w-[330px] lg:h-[330px] xl:w-[442px] xl:h-[442px] blur-[145px] rounded-full bg-primary-200/20 lg-ml-[170px]"
      ></div>
    </div>

    <div class="grid grid-cols-12 gap-y-15 md:gap-8 lg:gap-16 auto-rows-max">
      <div
        class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav max-md:hidden md:col-span-6 lg:col-span-4 self-start md:sticky md:top-20 max-md:static"
      >
        <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark pt-9 px-10 pb-7 ">
          <h3 class="mb-3">Categories</h3>
          <ul
            class="[&>*:not(:last-child)]:border-dashed [&>*:not(:last-child)]:border-gray-100  dark:[&>*:not(:last-child)]:border-borderColour-dark  [&>*:not(:last-child)]:border-b"
          >
            <li class="group tabActive">
              <a
                class="  flex items-center justify-between py-5 font-medium relative before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white  before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"
                href="services-single.html"
              >
                Investment Banks
                <i class="fa-solid fa-angle-right hidden group-[.tabActive]:block"></i>
              </a>
            </li>
            <li class="group">
              <a
                href="services-single.html"
                class="  flex items-center justify-between py-5 font-medium relative before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white  before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"
              >
                Financial Analysis <i class="fa-solid fa-angle-right hidden group-[.tabActive]:block"></i>
              </a>
            </li>
            <li class="group">
              <a
                href="services-single.html"
                class="  flex items-center justify-between py-5 font-medium relative before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white  before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"
              >
                Sales & Trading <i class="fa-solid fa-angle-right hidden group-[.tabActive]:block"></i>
              </a>
            </li>
            <li class="group">
              <a
                href="services-single.html"
                class="  flex items-center justify-between py-5 font-medium relative before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white  before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"
              >
                Increased Efficiency <i class="fa-solid fa-angle-right hidden group-[.tabActive]:block"></i>
              </a>
            </li>
            <li class="group">
              <a
                href="services-single.html"
                class="  flex items-center justify-between py-5 font-medium relative before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white  before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"
              >
                Mortgage Loans <i class="fa-solid fa-angle-right hidden group-[.tabActive]:block"></i>
              </a>
            </li>
            <li class="group">
              <a
                href="services-single.html"
                class=" flex items-center justify-between py-5 font-medium relative before:absolute before:bottom-0 before:left-0 before:h-[1px] before:w-full before:origin-right before:scale-x-0 before:bg-paragraph dark:before:bg-white  before:transition-transform before:duration-500 before:content-[''] before:hover:origin-left before:hover:scale-x-100"
              >
                Fundraising Advice <i class="fa-solid fa-angle-right hidden group-[.tabActive]:block"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>

      <div class="relative max-md:col-span-full md:col-span-6 lg:col-span-8">
        <div class="relative singlePage max-md:mt-20">
          <h2>Investment Banks</h2>
          <p>
            Lorem ipsum dolor sit amet consectetur. Nullam blandit dui gravida aliquam enim eu. Adipiscing viverra
            vulputate curabitur est.
            <br />
            <br />
            Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae suspendisse sed accumsan.
            Sodales morbi tristique elit cursus gravida. Ullamcorper commodo eget pulvinar pretium. Condimentum rhoncus
            commodo amet nec auctor nibh vel mi blandit.
            <br />
            <br />
            Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor in rhoncus magna
            augue adipiscing.
          </p>
          <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav">
            <img
              src="images/services/service-single1.png"
              alt="service images"
              class="rounded"
            />
          </div>

          <h3>What to Expect</h3>
          <p>
            Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae suspendisse sed accumsan.
            Sodales morbi tristique elit cursus gravida. Ullamcorper commodo eget pulvinar pretium. Condimentum rhoncus
            commodo amet nec auctor nibh vel mi blandit.
            <br />
            <br />
            Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor in rhoncus magna
            augue adipiscing.
          </p>
          <ul>
            <li>It’s scalable and secure</li>
            <li>Artificial Intelligence Feature</li>
            <li>Offline version available</li>
          </ul>

          <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav relative">
            <img
              src="images/services/video-bg.png"
              alt="service images"
              class="rounded w-full"
            />
            <a
              href="https://www.youtube.com/embed/YE7VzlLtp-4?si=XvNRN6ztByvZQzqh"
              data-fancybox
              class="absolute left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 "
            >
              <img
                src="images/services/play.svg"
                alt="play"
                class="max-md:w-15 aspect-square"
              />
            </a>
          </div>

          <h3>Qualifications & Requirements</h3>
          <p>
            Morbi lorem proin morbi tempor risus. Nisl lobortis diam id faucibus pretium vitae suspendisse sed accumsan.
            Sodales morbi tristique elit cursus gravida. Ullamcorper commodo eget pulvinar pretium. Condimentum rhoncus
            commodo amet nec auctor nibh vel mi blandit.
            <br />
            <br />
            Neque ultrices nunc condimentum morbi risus tincidunt. Vel arcu lacus non ornare. Porttitor in rhoncus magna
            augue adipiscing.
          </p>
          <ul>
            <li>It’s scalable and secure</li>
            <li>Artificial Intelligence Feature</li>
            <li>Offline version available</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
