<section class=" pb-25 relative">
  <div
    class="absolute left-1/2 -top-[300px] w-full h-[550px] -translate-x-1/2 bg-cover  bg-[url('../images/hero-gradient.png')] bg-no-repeat bg-center opacity-70 md:hidden -z-10"
  ></div>
  <div class="container relative">
    <div class="relative z-10">
      <div class="absolute left-1/2 top-0 -translate-x-1/2 -translate-y-1/2 flex max-md:flex-col -z-10 max-md:hidden">
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/25 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
        <div
          class="max-1xl:w-[335px] max-1xl:h-[335px]  1xl:w-[442px] 1xl:h-[442px]  rounded-full bg-primary-200/20 -ml-[170px] max-md:ml-0 blur-[145px]"
        ></div>
      </div>
      <div class=" grid grid-cols-3 max-md:grid-cols-1 max-lg:grid-cols-2 gap-11 ">
        <div class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav">
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-7 ">
            <img
              src="images/testimonial/bodygroup.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/testimonial/bodygroup-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <blockquote class="text-paragraph dark:text-white italic mb-5 leading-[1.75]">
              “Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin
              though it looks like it, and it actually says nothing.”
            </blockquote>
            <div class="mb-7">
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-[#A7A7B4] dark:text-[#646463]"></i>
            </div>

            <div class="pt-7 flex items-center border-t border-dashed border-gray-100 dark:border-borderColour-dark">
              <img
                src="images/testimonial/avatar1.png"
                alt="avatar"
                class="mr-4 rounded-full"
              />
              <div class="block">
                <h3 class="text-base font-semibold">Robert Frost</h3>
                <p class="text-paragraph-light dark:text-[#A1A49D]  font-jakarta_sans text-sm font-medium">
                  Lead Designer
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-once="true"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-7 ">
            <img
              src="images/testimonial/caudile.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/testimonial/caudile-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <blockquote class="text-paragraph dark:text-white italic mb-5 leading-[1.75]">
              “Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin
              though it looks like it, and it actually says nothing.”
            </blockquote>
            <div class="mb-7">
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-[#A7A7B4] dark:text-[#646463]"></i>
            </div>

            <div class="pt-7 flex items-center border-t border-dashed border-gray-100 dark:border-borderColour-dark">
              <img
                src="images/testimonial/avatar2.png"
                alt="avatar"
                class="mr-4 rounded-full"
              />
              <div class="block">
                <h3 class="text-base font-semibold">Guy Hawkins</h3>
                <p class="text-paragraph-light dark:text-[#A1A49D]  font-jakarta_sans text-sm font-medium">Developer</p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-delay="600"
          data-aos-once="true"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-7 ">
            <img
              src="images/testimonial/axeptio.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/testimonial/axeptio-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <blockquote class="text-paragraph dark:text-white italic mb-5 leading-[1.75]">
              “Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin
              though it looks like it, and it actually says nothing.”
            </blockquote>
            <div class="mb-7">
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-[#A7A7B4] dark:text-[#646463]"></i>
            </div>

            <div class="pt-7 flex items-center border-t border-dashed border-gray-100 dark:border-borderColour-dark">
              <img
                src="images/testimonial/avatar3.png"
                alt="avatar"
                class="mr-4 rounded-full"
              />
              <div class="block">
                <h3 class="text-base font-semibold">Cody Fisher</h3>
                <p class="text-paragraph-light dark:text-[#A1A49D]  font-jakarta_sans text-sm font-medium">
                  UI Designer
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-delay="100"
          data-aos-once="true"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-7 ">
            <img
              src="images/testimonial/infinity.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/testimonial/infinity-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <blockquote class="text-paragraph dark:text-white italic mb-5 leading-[1.75]">
              “Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin
              though it looks like it, and it actually says nothing.”
            </blockquote>
            <div class="mb-7">
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-[#A7A7B4] dark:text-[#646463]"></i>
            </div>

            <div class="pt-7 flex items-center border-t border-dashed border-gray-100 dark:border-borderColour-dark">
              <img
                src="images/testimonial/avatar4.png"
                alt="avatar"
                class="mr-4 rounded-full"
              />
              <div class="block">
                <h3 class="text-base font-semibold">Albert Flores</h3>
                <p class="text-paragraph-light dark:text-[#A1A49D]  font-jakarta_sans text-sm font-medium">
                  Sr. Developer
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-delay="300"
          data-aos-once="true"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-7">
            <img
              src="images/testimonial/mfinity.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/testimonial/mfinity-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <blockquote class="text-paragraph dark:text-white italic mb-5 leading-[1.75]">
              “Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin
              though it looks like it, and it actually says nothing.”
            </blockquote>
            <div class="mb-7">
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-[#A7A7B4] dark:text-[#646463]"></i>
            </div>

            <div class="pt-7 flex items-center border-t border-dashed border-gray-100 dark:border-borderColour-dark">
              <img
                src="images/testimonial/avatar5.png"
                alt="avatar"
                class="mr-4 rounded-full"
              />
              <div class="block">
                <h3 class="text-base font-semibold">Floyed Miles</h3>
                <p class="text-paragraph-light dark:text-[#A1A49D]  font-jakarta_sans text-sm font-medium">
                  Junior Designer
                </p>
              </div>
            </div>
          </div>
        </div>

        <div
          class="bg-white dark:bg-dark-200 rounded-medium p-2.5 shadow-nav"
          data-aos="fade-up"
          data-aos-offset="200"
          data-aos-duration="1000"
          data-aos-delay="600"
          data-aos-once="true"
        >
          <div class="border border-dashed rounded border-gray-100 dark:border-borderColour-dark p-7">
            <img
              src="images/testimonial/coolchat.svg"
              alt="image"
              class="inline-block dark:hidden mb-6"
            />
            <img
              src="images/testimonial/coolchat-dark.svg"
              alt="image"
              class="hidden dark:inline-block mb-6"
            />
            <blockquote class="text-paragraph dark:text-white italic mb-5 leading-[1.75]">
              “Until recently, the prevailing view assumed lorem ipsum was born as a nonsense text. It's not Latin
              though it looks like it, and it actually says nothing.”
            </blockquote>
            <div class="mb-7">
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-paragraph dark:text-white"></i>
              <i class="fa-solid fa-star text-[#A7A7B4] dark:text-[#646463]"></i>
            </div>

            <div class="pt-7 flex items-center border-t border-dashed border-gray-100 dark:border-borderColour-dark">
              <img
                src="images/testimonial/avatar6.png"
                alt="avatar"
                class="mr-4 rounded-full"
              />
              <div class="block">
                <h3 class="text-base font-semibold">Bessie Cooper</h3>
                <p class="text-paragraph-light dark:text-[#A1A49D]  font-jakarta_sans text-sm font-medium">Manager</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
