<section>
  <div class="grid sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3 gap-2">
    <div class="flex flex-col">
      <h1
        class="text-lg text-neutral-600 font-mono tracking-tight text-balance">
        Style guide
      </h1>
      <p class="text-sm text-balance text-neutral-500 mt-2">
        Follow the style guide to create a consistent and professional look for
        your website
      </p>
    </div>

    <div class="lg:col-span-2">
      <p class="text-lg text-neutral-600 font-mono tracking-tight text-balance">
        Typography / Inter · IBM PLex Mono
      </p>

      <div class="mt-2">
        <div>
          <div class="space-y-2 py-3">
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Headers</span></div>
              <div>
                <span class="text-lg text-neutral-600 font-mono tracking-tight"
                  >Headers</span
                >
              </div>
            </div>

            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Link</span></div>
              <div>
                <a
                  href="#_"
                  class="text-sm hover:text-orange-600 text-neutral-500"
                  >Link text</a
                >
              </div>
            </div>

            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div>
                <span class="text-sm text-neutral-500">Paragraph</span>
              </div>
              <div>
                <span class="text-sm text-neutral-600"
                  >I am so happy, my dear friend, so absorbed in the exquisite
                  sense of mere tranquil existence, that I neglect my talents.</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">Caption</span></div>
              <div>
                <span class="text-netral-500 text-xs"
                  >Picture about somethign</span
                >
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="prose-styles">Code</span></div>
              <div>
                <code class="font-mono">tailwind.config.js</code>
              </div>
            </div>
            <div class="grid grid-cols-1 items-start lg:grid-cols-2">
              <div><span class="text-black">List</span></div>
              <div>
                <ul
                  class="text-neutral-600 list-inside space-y-3 list-disc"
                  role="list">
                  <ul
                    class="text-xs space-y-1 font-mono uppercase text-neutral-500"
                    role="list">
                    <li>Access to premium posts</li>
                    <li>Weekly newsletters</li>
                    <li>Simple, secure card payment</li>
                    <li>No Advertising</li>
                    <li>Special discounts</li>
                  </ul>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

      <p
        class="text-lg mt-12 text-neutral-600 font-mono tracking-tight text-balance">
        Color palette
      </p>

      <div class="grid gap-2 grid-cols-2 lg:grid-cols-3 mt-2">
        <div class="space-y-2">
          <div class="lg:justify-center p-6 h-14 bg-white rounded-lg"></div>
        </div>
        <div>
          <div class="lg:justify-center p-6 h-14 rounded-t-lg bg-orange-50">
          </div>
          <div class="lg:justify-center p-6 h-14 bg-orange-100"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-200"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-300"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-400"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-500"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-600"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-700"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-800"></div>
          <div class="lg:justify-center p-6 h-14 bg-orange-900"></div>
          <div class="lg:justify-center p-6 h-14 rounded-b-lg bg-orange-950">
          </div>
        </div>
        <div>
          <div class="lg:justify-center p-6 h-14 rounded-t-lg bg-neutral-50">
          </div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-100"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-200"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-300"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-400"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-500"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-600"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-700"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-800"></div>
          <div class="lg:justify-center p-6 h-14 bg-neutral-900"></div>
          <div class="lg:justify-center p-6 h-14 rounded-b-lg bg-neutral-950">
          </div>
        </div>
      </div>
      <p
        class="text-lg mt-12 text-neutral-600 font-mono tracking-tight text-balance">
        Buttons
      </p>
      <div class="flex flex-wrap gap-2 mt-6">
        <button
          type="submit"
          title="link to your page"
          aria-label="your label"
          class="relative group overflow-hidden pl-4 font-mono h-14 flex space-x-6 items-center bg-orange-500 hover:bg-black duration-300 rounded-xl justify-between">
          <span class="relative uppercase text-xs text-white">Primary</span>
          <div
            aria-hidden="true"
            class="w-12 text-white transition duration-300 -translate-y-7 group-hover:translate-y-7">
            <div class="h-14 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 m-auto fill-white">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                ></path>
              </svg>
            </div>
            <div class="h-14 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 m-auto fill-white">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                ></path>
              </svg>
            </div>
          </div>
        </button>
        <button
          type="submit"
          title="link to your page"
          aria-label="your label"
          class="relative group overflow-hidden pl-4 justify-between text-xs text-white font-mono h-14 flex space-x-6 items-center bg-black hover:bg-neutral-200 hover:text-orange-600 duration-300 rounded-xl">
          <span class="relative uppercase text-xs">Secondary</span>
          <div
            aria-hidden="true"
            class="w-12 transition duration-300 -translate-y-7 group-hover:translate-y-7">
            <div class="h-14 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 m-auto fill-white">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                ></path>
              </svg>
            </div>
            <div class="h-14 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 m-auto fill-white">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                ></path>
              </svg>
            </div>
          </div>
        </button>
             <button
          type="submit"
          title="link to your page"
          aria-label="your label"
          class="relative group overflow-hidden pl-4 justify-between text-xs text-orange-600 font-mono h-14 flex space-x-6 items-center bg-white hover:bg-neutral-200 hover:text-orange-600 duration-300 rounded-xl">
          <span class="relative uppercase text-xs">Secondary</span>
          <div
            aria-hidden="true"
            class="w-12 transition duration-300 -translate-y-7 group-hover:translate-y-7">
            <div class="h-14 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 m-auto fill-white">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                ></path>
              </svg>
            </div>
            <div class="h-14 flex">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="size-6 m-auto fill-white">
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M17.25 8.25 21 12m0 0-3.75 3.75M21 12H3"
                ></path>
              </svg>
            </div>
          </div>
        </button>
      </div>
    </div>
  </div>
</section>
